{% extends 'app1/base.html' %}
{% block body %}


{% load static %}
{% if user.is_authenticated %}
 
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #7690da;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

    .searchTerm:focus {
        color: #7690da;
    }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #7690da;
        background: #7690da;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 40%;
        /* position: absolute;
  top: 50%;
  left: 50%; */
        /* transform: translate(-50%, -50%); */
    }

    .table-row {
        cursor: pointer;
        
    }

    @media print{
        body{
            visibility: hidden !important; /* hide everything in body when in print mode*/
        }

        .printContainer {
            visibility: visible !important; /* Override the rule above to only show the printables*/
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        } 
    }

</style>


<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h2 class="mb-0">DAY BOOK</h2>
                </center>
                <hr>
                <div class="row">
                    <div class="col-md-1 mt-3">
                        <input type="date" name="fromdate" id="fromdate" style="height: 5vh; border: solid; border-color: #7690da;">
                    </div>
                    <div class="col-md-4 mt-2 mr-5 ml-5" >
                        <input type="text" id="searchInput" placeholder="Search..." class="form-control" autocomplete="off" 
                        style="margin-top: 8px; background-color: #2f516f;color: white;">
                    </div> 
                    
                    <div class="col-md-3"></div>
                        
                    <div class="btn-group col-md-1 mt-3 " style="float: right; height:5vh;">
                        <a id="myBtn" class="btn btn-outline-info text-grey btn_print"
                            role="button">PDF</a>
    
                    </div>
                    <div class="btn-group col-md-1 mt-3 ml-1" style="float: right; height:5vh;">
                        <a class="btn btn-outline-info text-grey"
                            role="button" onclick="printtable()">Print</a>
    
                    </div>

                    <div class="btn-group col-md-1 mt-3 ml-1" style="float: right; height:5vh;">
                        <a class="btn btn-outline-info text-grey" onclick="ExportToExcel('xlsx')">Excel</a>
                    </div>
                    
                </div>
            </div>

                



            </div>
        </div>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="container-fluid" id="daybookdiv">
                <div id="printdate" style="display: none;"><br>
                    <h1 style="color: black;">Date : <span id="printdatep"></span></h1>
                </div>
                <table class="table table-responsive-md mt-4" id="daybooktable" >
                    <thead style="text-align: center;">
                        <tr id="headings">
                            <th class="heading">DATE</th>
                            <th>REFERENCE NUMBER</th>
                            <th>PARTY NAME</th>
                            <th>TYPE</th>
                            <th>TOTAL AMOUNT</th>
                            <th>TAXABLE AMOUNT</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        {% for trans in prclist %}
                        <tr class="table-row ">
                            <td></td>
                            <td></td>
                            <td>{{ trans.name }}</td>
                            <td>Price List</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in stkadj %}
                        <tr class="table-row ">
                            <td>{{ trans.date }}</td>
                            <td>{{ trans.ref_no }}</td>
                            <td></td>
                            <td>Stock Adjust</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in bnktran %}
                        <tr class="table-row ">
                            <td>{{ trans.adj_date  | date:'Y-m-d'}}</td>
                            <td></td>
                            <td>{{ trans.bank_type }}</td>
                            <td>Bank Transaction</td>
                            <td>{{ trans.cash_cash }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in cust %}
                        <tr class="table-row ">
                            <td>{{ trans.adj_date  | date:'Y-m-d'}}</td>
                            <td>{{ trans.customerid }}</td>
                            <td>{{ trans.firstname }} &nbsp;{{ trans.lastname }}</td>
                            <td>Customers</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in estimates %}
                        <tr class="table-row ">
                            <td>{{ trans.estimatedate | date:'Y-m-d' }}</td>
                            <td>{{ trans.estimateno }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Estimate</td>
                            <td>{{ trans.estimatetotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in salesorders %}
                        <tr class="table-row ">
                            <td>{{ trans.saledate | date:'Y-m-d' }}</td>
                            <td>{{ trans.saleno }}</td>
                            <td>{{ trans.salename }}</td>
                            <td>Sales Order</td>
                            <td>{{ trans.salestotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in invoices %}
                        <tr class="table-row ">
                            <td>{{ trans.invoicedate  | date:'Y-m-d'}}</td>
                            <td>{{ trans.invoiceno }}</td>
                            <td>{{ trans.customername }}</td>
                            <td>Invoice</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in creditnote %}
                        <tr class="table-row ">
                            <td>{{ trans.creditdate | date:'Y-m-d' }}</td>
                            <td>{{ trans.billno }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Credit Note</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in sales %}
                        <tr class="table-row ">
                            <td>{{ trans.paymdate  | date:'Y-m-d'}}</td>
                            <td>{{ trans.refno }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Payment</td>
                            <td>{{ trans.amtcredit }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in retainerinvoices %}
                        <tr class="table-row ">
                            <td>{{ trans.invoice_date | date:'Y-m-d'}}</td>
                            <td>{{ trans.invoice_number }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Retainer Invoice</td>
                            <td>{{ trans.total_amount }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in deliverychallan %}
                        <tr class="table-row ">
                            <td>{{ trans.challan_date | date:'Y-m-d' }}</td>
                            <td>{{ trans.chal_no }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Delivery Challan</td>
                            <td>{{ trans.grand }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in recinv %}
                        <tr class="table-row ">
                            <td>{{ trans.startdate}}</td>
                            <td>{{ trans.recinvoiceno }}</td>
                            <td>{{ trans.customername }}</td>
                            <td>Reccuring Invoice</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in ven %}
                        <tr class="table-row ">
                            <td>{{ trans.date  | date:'Y-m-d'}}</td>
                            <td>{{ trans.vendorid }}</td>
                            <td>{{ trans.firstname }} &nbsp;{{ trans.lastname }}</td>
                            <td>Vendor</td>
                            <td>{{ trans.openingbalance }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in purchaseorders %}
                        <tr class="table-row ">
                            <td>{{ trans.date | date:'Y-m-d' }}</td>
                            <td>{{ trans.puchaseorder_no }}</td>
                            <td>{{ trans.vendor_name }}</td>
                            <td>Purchase Orders</td>
                            <td>{{ trans.grand_total }}</td>
                            <td>{{ trans.sub_total }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in bill_data %}
                        <tr class="table-row ">
                            <td>{{ trans.paymdate}}</td>
                            <td>{{ trans.refno }}</td>
                            <td>{{ trans.payee }}</td>
                            <td>Bills</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in exp %}
                        <tr class="table-row ">
                            <td>{{ trans.paymdate}}</td>
                            <td>{{ trans.refno }}</td>
                            <td>{{ trans.payee }}</td>
                            <td>Expense</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in debitnote %}
                        <tr class="table-row ">
                            <td>{{ trans.debitdate | date:'Y-m-d' }}</td>
                            <td>{{ trans.billno }}</td>
                            <td>{{ trans.vendor }}</td>
                            <td>Debit Note</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in recbill %}
                        <tr class="table-row ">
                            <td>{{ trans.start_date | date:'Y-m-d' }}</td>
                            <td>{{ trans.billno }}</td>
                            <td>{{ trans.customer_name }}</td>
                            <td>Reccuring Bill</td>
                            <td>{{ trans.grand_total }}</td>
                            <td>{{ trans.sub_total }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in manualjournal %}
                        <tr class="table-row ">
                            <td>{{ trans.date }}</td>
                            <td>{{ trans.ref_no }}</td>
                            <td></td>
                            <td>Manual Journal</td>
                            <td>{{ trans.total_cre }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in payrollemp %}
                        <tr class="table-row ">
                            <td>{{ trans.joindate}}</td>
                            <td>{{ trans.employeeid }}</td>
                            <td>{{ trans.firstname }} &nbsp;{{ trans.lastname }}</td>
                            <td>Employee Payroll</td>
                            <td>{{ trans.amount }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in payslp %}
                        <tr class="table-row ">
                            <td>{{ trans.paydate}}</td>
                            <td>{{ trans.payslipid }}</td>
                            <td>{{ trans.empname }}</td>
                            <td>Payslip</td>
                            <td>{{ trans.netsal }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in recpt %}
                        <tr class="table-row ">
                            <td>{{ trans.saledate}}</td>
                            <td>{{ trans.saleno }}</td>
                            <td>{{ trans.salename }}</td>
                            <td>Sales Receipt</td>
                            <td>{{ trans.saaletotal }}</td>
                            <td>{{ trans.salesubtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in supl %}
                        <tr class="table-row ">
                            <td>{{ trans.paymdate}}</td>
                            <td>{{ trans.refno }}</td>
                            <td>{{ trans.supplier }}</td>
                            <td>Supplier Credit</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in crd %}
                        <tr class="table-row ">
                            <td>{{ trans.creditdate}}</td>
                            <td>{{ trans.creditno }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Credit</td>
                            <td>{{ trans.grndtot }}</td>
                            <td>{{ trans.subtot }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
<!-- 
                        {% for trans in delychr %}
                        <tr class="table-row ">
                            <td>{{ trans.delayedchargedate  | date:'Y-m-d'}}</td>
                            <td>{{ trans.delayedchargeno }}</td>
                            <td>{{ trans.customer }}</td>
                            <td>Delayed Charge</td>
                            <td>{{ trans.grandtotal }}</td>
                            <td>{{ trans.subtotal }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in itm %}
                        <tr class="table-row ">
                            <td>{{ trans.itmdate  | date:'Y-m-d'}}</td>
                            <td>{{ trans.hsn }}</td>
                            <td>{{ trans.name }}</td>
                            <td>Item</td>
                            <td>{{ trans.amount }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in bill %}
                        <tr class="table-row ">
                            <td>{{ trans.date | date:'Y-m-d'}}</td>
                            <td>{{ trans.bill_no }}</td>
                            <td>{{ trans.contact_name }}</td>
                            <td>Bill</td>
                            <td>{{ trans.grand_total }}</td>
                            <td>{{ trans.sub_total }}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}
                        
                        {% for trans in expenses %}
                        <tr class="table-row ">
                            <td>{{ trans.date | date:'Y-m-d'}}</td>
                            <td>{{ trans.expense_no }}</td>
                            <td>{{ trans.vendor }}</td>
                            <td>Expenses</td>
                            <td>{{ trans.amount }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %}

                        {% for trans in purchase %}
                        <tr class="table-row ">
                            <td>{{ trans.paymentdate | date:'Y-m-d' }}</td>
                            <td>{{ trans.reference }}</td>
                            <td>{{ trans.vendor }}</td>
                            <td>Purchase Payment</td>
                            <td>{{ trans.paymentamount }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        {% endfor %} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}




<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('daybooktable');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('daybook' + (type || 'xlsx')));
    }
</script>
<script>
    // Function to handle the search
    function searchTable() {
        let input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("daybooktable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows (excluding the first row, which contains the column headers)
        for (i = 1; i < tr.length; i++) {
            let rowVisible = false;
            td = tr[i].getElementsByTagName("td");

            // Loop through all table cells (columns) in each row
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        rowVisible = true;
                        break;
                    }
                }
            }

            // Show/hide the row based on the search results
            tr[i].style.display = rowVisible ? "" : "none";
        }
    }

    // Attach the search function to the input field's "input" event
    document.getElementById("searchInput").addEventListener("input", searchTable);
</script>
 




<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ($) {
      

        $(document).on('click', '.btn_print', function (event) {
           
            event.preventDefault();
            var element = document.getElementById('daybooktable');  
            element.style.color = 'black';
            element.style.backgroundColor = '#243e54';
            var opt =
            {
                margin: 1,
                filename: 'daybook' + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', }
            };
            html2pdf().set(opt).from(element).save();

        });

 
 });
</script>
<script>
    const fromDateInput = document.getElementById("fromdate");
    const toDateInput = document.getElementById("todate"); 
    fromDateInput.addEventListener("change", ApplyDateFilter);
    toDateInput.addEventListener("change", ApplyDateFilter);
</script>

<script>
    function printtable(){
        const table = document.getElementById('daybooktable');
        const heads = table.querySelectorAll('thead th');
        const cells = table.querySelectorAll('tbody td');
        const fromdate = document.getElementById("fromdate").value
        if(fromdate !=""){
            document.getElementById("printdate").style.display = "block";
            document.getElementById("printdatep").innerHTML = fromdate;
        }
        heads.forEach(head => {
                head.style.color = 'black'; // Change text color to red
            });
        cells.forEach(cell => {
                cell.style.color = 'black'; // Change text color to red
            });
        var printContents = document.getElementById("daybookdiv").innerHTML;

        var $printerDiv = $('<div class="printContainer"></div>'); // create the div that will contain the stuff to be printed
        $printerDiv.html(printContents); // add the content to be printed
        $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

        window.print(); // call print
        $printerDiv.remove(); // remove the div
        $('body').removeClass("printingContent");
        changecolourback()

    }

    function changecolourback(){
        const table = document.getElementById('daybooktable');
        const heads = table.querySelectorAll('thead th');
        const cells = table.querySelectorAll('tbody td');
        heads.forEach(head => {
                head.style.color = 'white'; // Change text color to red
            });
        cells.forEach(cell => {
                cell.style.color = 'white'; // Change text color to red
            });
            document.getElementById("printdate").style.display = "none";
    }
</script>

<script>
    function ApplyDateFilter() { 

        var fromDate = document.getElementById('fromdate').value;
        const table = document.getElementById("daybooktable");        
        const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        // Loop through the rows and hide/show based on the selected date
        for (let i = 0; i < rows.length; i++) {
            const dateCell = rows[i].getElementsByTagName('td')[0]; // Assuming the date is in the first cell
            const rowDate = dateCell.textContent;

            if (rowDate === fromDate) {
                rows[i].style.display = 'table-row';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }
 
</script>

<script>
    const fromdate = document.getElementById("fromdate");
    fromDateInput.addEventListener("change", ApplyDateFilter);
</script>
{% endblock %}