{% extends 'app1/base.html' %}
{% block body %}
{% load static %}




<style>
    input {
        background-color: #2f516f;
        border: 0;
        border-radius: 5px;
        color: white;
    }

    @media screen and (max-width: 768px) {
        #employeeid {
            margin-left: 0px !important;
        }

    }
</style>
<script>

</script>
<form action="{% url 'editloan_action' loan.id %}" method="post" class="needs-validation" enctype="multipart/form-data"
    novalidate>{% csrf_token %}
    <div class="page-content">
        <h2 id="hel"></h2>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center>
                        <h2 class="mb-0" id="estno">EDIT LOAN</h2>
                    </center>
                </div>
                <hr />
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col"> </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee</label>
                        <input type="text" class="form-control" id="employee" name="employee"
                            placeholder="Employee" value="{{loan.employee.firstname}} {{loan.employee.lastname}}" readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee No</label>
                        <input type="text" class="form-control" id="employeeid" name="employeeid"
                            placeholder="Employee Id" value="{{loan.employee.employeeno}}" readonly>
                    </div>



                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4 " style="width: 100%;">
                        <label class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{loan.employee.email}}" readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Salary</label>
                        <input type="text" class="form-control" id="Salary" name="Salary" placeholder="Salary" value="{{loan.employee.amount}}" readonly>
                    </div>


                    <div class="col-md-5 ml-4">

                        <label class="col-form-label">Join Date</label>
                        <input type="date" class="form-control"  id="joindate" name="joindate" value="{{loan.employee.joindate}}" readonly><br>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Loan Date</label>
                        <input type="date" class="form-control" value="{{loan.LoanDate}}" name="loandate" required ><br>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Loan Amound</label>
                        <input type="text" class="form-control" id="Loan_Amound" name="Loan_Amound"
                            placeholder="Loan Amound" value="{{ loan.LoanAmount }}"><br>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Expery Date</label>

                        <input type="date" class="form-control" id="experydate" name="experydate" value="{{ loan.ExperyDate }}" required><br>
                    </div>
                </div>  
                <div class="row m-4 ml-5 pt-4">   
                    <!-- <div class="col-md-4 m-4 ml-5 pt-4"> -->
                        <label><b>Monthly Cutting :</b></label>&nbsp;&nbsp;

                        {% if employee.action == 1 %}
                            <div class="form-check form-check-inline ml-3" >
                                <input class="form-check-input" type="radio" id="no" name="cutingamount"
                                onchange="show3(this.value)" value="No" required>
                                <label class="form-check-label">In Amount</label>
                            </div>
                            <div class="form-check form-check-inline ml-3">
                                <input class="form-check-input" type="radio" id="yes" name="cutingamount" 
                                onchange="show4(this.value)" value="Yes"  required checked>
                                <label class="form-check-label">In Percentage</label>
                            </div>
                        {% else %}
                            <div class="form-check form-check-inline ml-3" >
                                <input class="form-check-input" type="radio" id="no" name="cutingamount"
                                onchange="show3(this.value)" value="No" required checked>
                                <label class="form-check-label">In Amount</label>
                            </div>
                            <div class="form-check form-check-inline ml-3">
                                <input class="form-check-input" type="radio" id="yes" name="cutingamount" 
                                onchange="show4(this.value)" value="Yes"  required>
                                <label class="form-check-label">In Percentage</label>
                            </div>
                        {% endif %}
                    <!-- </div> -->

                </div>
                    <!-- <div class="row"> -->
                        <div class="desc m-4 ml-5 pt-4" id="cuttingPercentage" style="display: none;">
                            <div class="card-title mt-3">
                                <h5 class="mb-0">Monthly Cutting in Percentage</h5>
                            </div>
                            <hr>
                            <div class="row mt-3">
                                <div class=" col-md-4">
                                    <label class="col-form-label">Monthly Cutting (%)</label>
                                    <input type="number" oninput="convert()" class="form-control" id="cu" name="cuttingPercentage"
                                     placeholder="In Percentage"style="background-color: #2f516f; color: white;" min="0" value="{{ loan.MonthlyCut_percentage }}" required>
                                </div>     
                                <div class="col-3 col-md-4">
                                    
                                    <label class="col-form-label">Amount</label>
                                    <input type="number"  class="form-control" id="cp" name="cp"
                                        placeholder="amount"style="background-color: #2f516f; color: white; width:50%;"  min="0" value="{{ loan.MonthlyCut_Amount }}" readonly required>    
                                    
                                     <!-- <span >Rs:</span>
                                    <b><span id="cp">Amount</span></b> -->
                                   
                                    <div class="text-danger m-2" id="effectivefrom"></div>
                                </div>
                            </div>        
                        </div>
                    <!-- </div> -->
                    <div class="desc m-4 ml-5 pt-4" id="Cutingamount" style="display: none;">
                        <div class="card-title mt-3">
                            <h5 class="mb-0">Monthly Cutting in Amount</h5>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col-md-5">
                                <label class="col-form-label">Monthly Cutting (INR)</label>

                                <input type="number" oninput="validatecutamount()" class="form-control" id="amount" name="Cutingamount"
                                    placeholder="In Amount" style="background-color: #2f516f; color: white; " min="0" value="{{ loan.MonthlyCut_Amount }}" required><br>
                                <div class="text-danger m-2" id="effectivefrom"></div>
                            </div>
                            
                        </div>
                    </div>
                   
                </div>      
                <!-- <div class="desc m-4 ml-5 pt-4" id="" style="display: none;">
                    <div class="card-title mt-3">
                       
                    </div>
                    -->
                    <!-- <h5 class="mb-0 mt-5 ml-4">Monthly Cutting</h5>
                    <hr class="ml-4"> 
                    <div class="row mt-3 mb-5">
                        
                        <div class="col-3 col-md-5 ml-4">
                            <label class="col-form-label">Monthly Cutting (%)</label>
                            <input type="text" oninput="convert()" class="form-control" id="cu" "
                             placeholder="In Percentage"style="background-color: #2f516f; color: white;" min="0" value="{{ loan.MonthlyCut_percentage }}" required>
                        </div>     
                        <div class="col-3 col-md-5 ml-4">
                            
                            <label class="col-form-label">Monthly Cutting (INR)</label>
                            <input type="number" oninput="convert2()" class="form-control" id="cp" name="cp"
                                placeholder="amount"style="background-color: #2f516f; color: white; "  min="0" value="{{ loan.MonthlyCut_Amount }}" required>    
                            
                            
                           
                            <div class="text-danger m-2" id="effectivefrom"></div>
                        </div>
                    </div>         -->
                <!-- </div> -->
                    <div class="row clearfix" style="margin-top:20px">
                        <div class="col-md-6 ml-5">
                            <textarea class="form-control" id="" name="Note" placeholder="Note"
                                style="height: 190px;">{{loan.Note}}</textarea>
                            {% if loan.File %}
                               <img src="{{loan.File.url}}" alt="" style="margin-top: 10px; width: 100%;">
                            {% else %}  
                                <img src="" alt="">
                            {% endif %}    
                            <input type="file" name="file" style="margin-top: 10px; width: 70%;">
                        </div>
                        <div class="col-md-6 ml-4">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 mt-3"></div>
                        <div class="col-md-2 mt-3"></div>
                        <div class="col-md-3 mt-3">
                            <center><button type="submit" class="btn btn-outline-info rounded-pill  text-grey " style="width: 60%;">
                                Submit
                            </button></center>
                        </div>
                        <div class="col-md-2 mt-3"></div>
                    </div>
                    <div class="notices mt-3">
                        <div class="text-muted">NOTICE:</div>
                        <div class="text-muted">
                            Fin sYs Terms and Conditions Apply
                        </div>
                    </div>
                    <footer class="text-muted">Invoice was created on a computer and is valid without the
                        signature and seal.
                    </footer>
                </div>
            </div>
        </div>
</form>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>


<script>
    function poppins1() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('tempstreet').value = document.getElementById('street').value;
            document.getElementById('tempcity').value = document.getElementById('city').value;
            document.getElementById('temppinco').value = document.getElementById('pinco').value;
            document.getElementById('tempcountry').value = document.getElementById('country').value;
            document.getElementById('tempstate').value = document.getElementById('state').value;
        } else {
            document.getElementById('tempstreet').value = '';
            document.getElementById('tempcity').value = '';
            document.getElementById('tempstate').value = '';
            document.getElementById('temppinco').value = '';
            document.getElementById('tempcountry').value = '';
        }
    }
    $(document).ready(function () {
        $("#gsttype").change(function () {
            var x = $('#gsttype').val();
            if (x == "unregistered Business") {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');

            }
            else if (x == 'Overseas') {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');
            }
            else if (x == 'Consumer') {
                $(".gstrow").removeClass('d-block');
                $(".gstrow").addClass('d-none');
            }
            else {
                $(".gstrow").removeClass('d-none');
                $(".gstrow").addClass('d-block');
            }

        });
    });

    $(document).ready(function () {


        var bc = document.getElementById("plosu").value;
        var compstate = document.getElementById("cmpstate").value;
        if (bc == compstate) {
            document.getElementById('cgst1').style.display = 'flex';
            document.getElementById('sgst1').style.display = 'flex';
            document.getElementById('igst1').style.display = 'none';

        } else {
            document.getElementById('cgst1').style.display = 'none';
            document.getElementById('sgst1').style.display = 'none';
            document.getElementById('igst1').style.display = 'flex';

        }
        var i = 1;
        $("#add_row").click(function () {
            b = i - 1;
            $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });

    });


    $(document).ready(function () {
        $('#add').click(function () {
            var roinc = $("#items-table-body tr").length;
            roinc++;
            $('#items-table-body').append(
                `
          <tr id='addr0${roinc}'>
            <td class = 'nnum'>${roinc}</td>
            <td style="width: 20%;">
              <div class="d-flex">
                <select name='product[]' id="product${roinc}" class="form-control product" style="background-color: #2f516f; color: white;">
                  <option value=" " selected>Select Item</option>
                    {% for i in item %}
                      {% if i.cid_id == cmp1.cid %}
                        <option value="{{ i.name  }}">{{ i.name  }} </option>
                      {% endif %}
                    {% endfor %}
                </select>

                <a href="#">
                    <button type="button" class="btn btn-outline-secondary ml-1" 
                    data-target="#newitem" data-toggle="modal">+</button>
                </a>
              </div>
            </td>
            <td><input type="text" name='hsn[]' id="hsn${roinc}" placeholder='Enter HSN Code' class="form-control" style="background-color: #2f516f; color: white;" /></td>
            <td><input type="number" name='qty[]'  placeholder='Enter Qty' id="qty${roinc}" class="form-control qty" step=0 min=0 style="background-color: #2f516f; color: white;margin-top: 21px;" />
                <div><span>Available Qty :</span> <span id="qtyspan${roinc}"class=''></span></div>
            </td>
            <td><input type="number" name='price[]' id="unit${roinc}" placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0" style="background-color: #2f516f; color: white;" /></td>
            <td>
              <input type="text"  id="select_tax" placeholder="Tax Rate" class="form-control seltax d-flex">

              <select name='tax1[]' id="tax1${roinc}" class="form-control tax intra_tax d-none">
                  <option selected disabled > Select GST</option>
                  <option value=28 >28.0% GST(28%)</option>
                  <option value=18 >18.0% GST(18%)</option>
                  <option value=12  >12.0% GST(12%)</option>
                      <option value=5  >05.0% GST(05%)</option>
                  <option value=3  >03.0% GST(03%)</option>
                      <option value=0  >0.0% GST(0%)</option>
              </select>
              <select name='tax2[]' id="tax2${roinc}" class="form-control tax inter_tax d-none">
                  <option selected disabled  >Select IGST</option>
                  <option value=28 >28.0% IGST(28%)</option>
                  <option value=18 >18.0% IGST(18%)</option>
                  <option value=12  >12.0% IGST(12%)</option>
                      <option value=5  >05.0% IGST(05%)</option>
                  <option value=3  >03.0% IGST(03%)</option>
                      <option value=0  >0.0% IGST(0%)</option>
              </select>
              
            </td>  
            <td style="display: none;"><input type="number" step="any" name='taxamount${roinc}' id="taxamount${roinc}" class="form-control taxamount" /></td>

            <td>
                <input type="number" name='discount[]' placeholder='Enter Discount' value=0 id="disc${roinc}" class="form-control disc" step=0 min=0>
            </td>
            <td><input type="number" name='total[]' id="total${roinc}" placeholder=0 class="form-control total" value=0 step="any" readonly style="background-color: #2f516f; color: white;" /></td>
            <td>
              <button type="button" id="${roinc}" class="btn  font-weight-bold clone_row fas fa-clone px-2 py-1 my-1" style="background-color:rgb(88, 107, 143);"></button><br>
              <button type="button" id="${roinc}" class="btn btn-danger px-2 mx-1 py-1 remove_row fas fa-close"></button>
            </td>
          </tr>`


            );
            $('.product').each(function (index, dropdown) {
                var row = $(dropdown).closest('.items-table-body'); // Assuming each row has a class 'item-row'
                $.ajax({
                    url: "{% url 'item_dropdown' %}",
                    type: "GET",
                    dataType: "json",
                    data: row.find('select').serialize(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                    success: function (data) {
                        var dropdown = $('.product');
                        dropdown.empty();
                        dropdown.append(`<option selected>Select Item</option>`);
                        $.each(data, function (key, value) {

                            dropdown.append($('<option></option>').attr('value', key).text(value).val(value));
                        });

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    });
    // calculation---------------------------

    $(document).on('change', '.product', function () {

        var n = $(this).attr("id").slice(7);
        $.ajax({
            url: "{% url 'itemdata' %}",
            type: 'GET',
            data: {
                id: $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },

            success: function (response) {
                data = response.hsn
                data2 = response.qty
                data3 = response.price
                data4 = response.gst
                data5 = response.sgst

                console.log(data)

                document.getElementById('hsn' + n).value = data;
                document.getElementById('qtyspan' + n).innerHTML = data2;
                document.getElementById('unit' + n).value = data3;

            },
        });


    });

    $(document).on('click', '.remove_row', function () {
        var row_id = $(this).attr("id");
        $('#addr0' + row_id + '').remove();

        calc();
    });


    $(document).on('click', '.clone_row', function () {
        var roinc = $("#items-table-body tr").length;
        var originalRow = $(this).closest('#items-table-body tr');
        var clonedRow = originalRow.clone();

        clonedRow.attr('id', 'addr0' + (roinc + 1));

        clonedRow.find('.nnum').text(roinc + 1);

        clonedRow.find('[id]').each(function () {
            var oldId = $(this).attr('id');
            var newId = oldId.replace(/\d+/, roinc + 1);
            console.log(newId)
            $(this).attr('id', newId);
        });

        clonedRow.find('.product').each(function () {
            $(this).val(originalRow.find('.product').val());
        });
        clonedRow.find('.intra_tax').each(function () {
            $(this).val(originalRow.find('.intra_tax').val());
        });
        clonedRow.find('.inter_tax').each(function () {
            $(this).val(originalRow.find('.inter_tax').val());
        });
        originalRow.after(clonedRow);

        calc();

    });
    $(document).ready(function () {


        $('#items-table-body').on('keyup change', function () {
            calc();
        });

        $('#tax').on('keyup change', function () {
            calc_total();
        });
    });

    function calc() {
        $('#tab_logic tbody tr').each(function () {
            var html = $(this).html();
            if (html != '') {
                var qty = $(this).find('.qty').val();

                var price = $(this).find('.price').val();

                var dis = $(this).find('.disc').val();
                console.log(qty)
                console.log(typeof (qty))

                console.log(price)
                console.log(typeof (price))
                console.log(parseFloat(dis))
                console.log(typeof (parseFloat(dis)))
                var bc = $("#plosu").val();
                var compstate = $("#cmpstate").val();
                if (bc == compstate) {
                    tax = $(this).find('.intra_tax').val();
                }
                else {
                    tax = $(this).find('.inter_tax').val();
                }
                console.log((parseFloat(qty) * parseFloat(price)) - parseFloat(dis))
                $(this).find('.total').val((parseFloat(qty) * parseFloat(price)) - parseFloat(dis));
                $(this).find('.taxamount').val(((qty * price) - dis) * (tax / 100));
                calc_total();
            }
        });
    }

    function calc_total() {

        total = 0;
        $('.total').each(function () {
            total += parseFloat($(this).val());
        });
        taxamount = 0;
        $('.taxamount').each(function () {
            taxamount += parseFloat($(this).val());
        });
        $('#sub_total').val(total.toFixed(2));
        $('#tax_amount').val(taxamount.toFixed(2));
        ship = parseFloat($("#ship").val());
        // console.log( ship);
        gtot = taxamount + total + ship;
        $('#grandtotal').val(gtot.toFixed(2));
        $('#baldue').val(gtot.toFixed(2));

        test()
    }

    function test() {

        var bc = $("#plosu").val();
        var compstate = $("#cmpstate").val();
        d = 0
        if (bc == compstate) {
            gst = taxamount / 2
            $('#cgst').val(parseFloat(gst.toFixed(2)));
            $('#sgst').val(parseFloat(gst.toFixed(2)));
            $('#igst').val(parseFloat(d.toFixed(2)));
        }

        if (bc != "{{ cmp1.state }}") {
            $('#igst').val(taxamount.toFixed(2));
            $('#cgst').val(d.toFixed(2));
            $('#sgst').val(d.toFixed(2));
        }


    }
    function showinnum(divId, element) {
        if (element.value) {
            document.getElementById(divId).innerHTML = "Debit Note " + element.value;
        } else {
            document.getElementById(divId).innerHTML = "Debit Note";
        }
    }

    $(document).on('keyup', "#ship", function () {
        var subtot = $('#sub_total').val();
        var tax = $('#tax_amount').val();
        var sh = $("#ship").val();
        $('#grandtotal').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(sh)).toFixed(2));
        $('#baldue').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(sh)).toFixed(2));
    });

    $(document).on("change", "#adj", function () {
        var round = parseFloat($("#grandtotal").val()) + parseFloat($("#adj").val())
        $("#grandtotal").val(round);
        $('#baldue').val(round);
    });

    $(document).on('click', '.remove_row', function () {
        var row_id = $(this).attr("id");
        $('#addr0' + row_id + '').remove();
    });







    function poppins() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('shipstreet').value = document.getElementById('street').value;
            document.getElementById('shipcity').value = document.getElementById('city').value;
            document.getElementById('shippincode').value = document.getElementById('pincode').value;
            document.getElementById('shipcountry').value = document.getElementById('country').value;
            document.getElementById('shipstate').value = document.getElementById('state').value;
            document.getElementById('shipst').innerHTML = document.getElementById('state').value;
        } else {
            document.getElementById('shipstreet').value = '';
            document.getElementById('shipcity').value = '';
            document.getElementById('shipstate').value = '';
            document.getElementById('shippincode').value = '';
            document.getElementById('shipcountry').value = '';
        }
    }

    function hidinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }


    function showMessage(input) {
        const gstin = input.value;

        if (gstin.length === 15) {
            // document.getElementById("message").textContent = "Please wait, validating GSTIN format...";
            setTimeout(() => checkgst(input), 500);  // Wait for a second and then validate GSTIN
        } else {
            document.getElementById("message").textContent = "";
        }
    }


    function checkgst(element) {
        var gstinput = element.value;
        var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
        if (gstinput.match(gstregexp)) {
            document.getElementById('warngst').innerHTML = '';
        } else {
            document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
            alert('Please provide a valid GST Number');
        }
    }

    function checkpan(element) {
        var paninput = element.value;
        var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
        if (paninput.match(panregexp)) {
            document.getElementById('warnpan').innerHTML = '';
        } else {
            document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
            alert('Please provide a valid PAN Number')
        }
    }

    function checkweb(element) {
        var webinput = element.value;
        var webregexp = "www."
        if (webinput.startsWith(webregexp)) {
            document.getElementById('warnweb').innerHTML = '';
        } else {
            document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
            alert('Please provide a valid Website Address')
        }
    }

    function checkphone(element) {
        var phoneinput = element.value;
        var phoneregexp = "[0-9]{10}";
        if (phoneinput.match(phoneregexp)) {
            document.getElementById('warnphone').innerHTML = '';
        } else {
            document.getElementById('warnphone').innerHTML = 'Please provide a valid Phone Number';
            alert('Please provide a valid Phone Number')
        }
    }
    function insertValue() {
        var select = document.getElementById("customer"),
            txtVal = document.getElementById("val").value,
            newOption = document.createElement("OPTION"),
            newOptionval = document.createTextNode(txtVal);

        newOption.appendChild(newOptionval);
        select.insertBefore(newOption, select.lastChild);
    }
</script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: true
    }),
        $('.timepicker').pickatime()
</script>
<script>
    $(function () {
        $('#date-time').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#date').bootstrapMaterialDatePicker({
            time: false
        });
        $('#time').bootstrapMaterialDatePicker({
            date: false,
            format: 'HH:mm'
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });



    });

</script>
<script type="text/javascript">
    function ShowHideDiv(track) {
        var inventorytrack = document.getElementById("inventorytrack");

        inventorytrack.style.display = track.checked ? "flex" : "none";

    }

    function validateForm() {
        let x = document.forms["myForm"]["fname"].value;
        if (x == "") {
            alert("Name must be filled out");
            return false;
        }
    }




    // create customer--------------------------

    $(document).on("click", "#customerSave", function () {

        $.ajax({

            type: 'POST',
            url: "{% url 'customers21' %}",

            data: {

                title: $('#title').val(),
                first_name: $('#firstname').val(),
                last_name: $('#lastname').val(),
                company_name: $("#company").val(),
                location: $("#location").val(),
                openbalance: $("#openbalance").val(),
                email: $("#email").val(),
                website: $("#website").val(),
                mobile: $("#mobile").val(),
                street: $("#street").val(),
                city: $("#city").val(),
                state: $("#state").val(),
                country: $("#country").val(),
                pincode: $("#pincode").val(),
                shipstreet: $("#shipstreet").val(),
                shipcity: $("#shipcity").val(),
                shipstate: $("#shipstate").val(),
                shipcountry: $("#shipcountry").val(),
                shippincode: $("#shippincode").val(),
                gsttype: $("#gsttype").val(),
                gstin: $("#gstin").val(),
                panno: $("#panno").val(),


                csrfmiddlewaretoken: '{{ csrf_token }}',

            },

            success: function (response) {
                console.log("success")
                document.getElementById("modalCustomer").reset();
                reloadCustomer();
            },
        });
    });


    function reloadCustomer() {

        $.ajax({
            url: "{% url 'cust_dropdown' %}",
            type: "GET",
            dataType: "json",
            data: $(this).serialize(),
            csrfmiddlewaretoken: '{{ csrf_token }}',

            success: function (data) {
                var dropdown = $('#customer');
                dropdown.empty();
                dropdown.append(`<option selected>Select Customer</option>`);
                $.each(data, function (key, value) {
                    console.log(value)
                    dropdown.append($('<option></option>').attr('value', key).text(value[1] + " " + value[2] + " " + value[3]).val(value[0] + " " + value[2] + " " + value[3]));
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    // item modal

    $(document).on("click", "#itemSave", function () {
        var taxref, status1;

        if ($('#inclusive').checked) {
            tax = $('#inclusive').val();
        }
        else if ($('#check').val()) {
            tax = $('#check').val();
        }
        else {
            console.log("Checkbox is not checked.");
        }

        console.log(tax);
        if ($('input[name="status"]:checked').val() == 'Active') {

            status1 = $('#flexRadioDefault1').val();
        }
        else {
            status1 = $('#flexRadioDefault2').val();
        }

        $.ajax({

            type: 'POST',
            url: "{% url 'credit_item' %}",

            data: {
                type: $("#type").val(),
                name: $("#item_name").val(),
                unit: $("#unit").val(),
                hsn: $("#hsn").val(),
                taxref: tax,
                sell_price: $("#saleprice").val(),
                cost_price: $("#purprice").val(),
                sell_acc: $("#sale_account").val(),
                cost_acc: $("#pur_account").val(),
                sell_desc: $("#sale_desc").val(),
                cost_desc: $("#pur_desc").val(),
                intra_st: $("#intra_st").val(),
                inter_st: $("#inter_st").val(),
                invacc: $("#invacc").val(),
                stock: $("#stock").val(),
                status: status1,
                csrfmiddlewaretoken: '{{ csrf_token }}',

            },

            success: function (response) {
                console.log(response)
                document.getElementById("modalItem").reset();
                reloadItem();
            },
        });
    });


    function reloadItem() {
        $.ajax({
            url: "{% url 'item_dropdown' %}",
            type: "GET",
            dataType: "json",
            data: $(this).serialize(),
            csrfmiddlewaretoken: '{{ csrf_token }}',

            success: function (data) {
                var dropdown = $('.product');
                console.log(data)
                dropdown.empty();
                dropdown.append(`<option selected>Select Item</option>`);
                $.each(data, function (key, value) {

                    dropdown.append($('<option></option>').attr('value', key).text(value).val(value));
                });

            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>
<script>


    $(document).ready(function () {
        $('#employee').on('change', function () {
            console.log($('#employee').val())
            $.ajax({
                type: 'POST',

                url: "",
                data: {
                    id: $('#employee').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },

                success: function (data) {
                    console.log(data.email);
                    document.getElementById('email').value = data.email;
                    console.log(data.employeeid);
                    document.getElementById('employeeid').value = data.employeeid;
                    console.log(data.joindate);
                    document.getElementById('joindate').value = data.joindate;
                    console.log(data.amount);
                    document.getElementById('Salary').value = data.amount;

                }
            });
        });
    });

</script>
<!-- <script>
           $(document).ready(function () {
                $('#employee').on('change', function() {
                    console.log($('#employee').val())
                    $.ajax({
                        type : 'POST',
                        
                        url: "",
                        data: {
                            id: $('#employee').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        
                        success: function(){
                         
                            amount=document.getElementById('Loan_Amound').value;
                            cutpercentage=document.getElementById('cuttingPercentage').value;

                            cutamount=Math.floor(cutpercentage/100)*amount
                            print(cutamount)
                            document.getElementById('cuttinamount').value = cutamount;
                        }
                    });
                });
            }); -->



</script>
<script>

    $(document).on("click", ".seltax", function () {

        $(".seltax").removeClass('d-flex');
        $(".seltax").addClass('d-none');

        console.log($("#plosu").val());
        console.log($("#cmpstate").val());

        if ($("#plosu").val() == $("#cmpstate").val()) {
            console.log("yes");
            $(".inter_tax").removeClass('d-flex');
            $(".inter_tax").addClass('d-none');

            $(".intra_tax").removeClass('d-none');
            $(".intra_tax").addClass('d-flex');

        }
        else {
            console.log("no");
            $(".intra_tax").removeClass('d-flex');
            $(".intra_tax").addClass('d-none');

            $(".inter_tax").removeClass('d-none');
            $(".inter_tax").addClass('d-flex');
        }

    });

    $(document).on('change', '#plosu', function () {
        $(".seltax").removeClass('d-none');
        $(".seltax").addClass('d-flex');
        $(".intra_tax").removeClass('d-flex');
        $(".intra_tax").addClass('d-none');
        $(".inter_tax").removeClass('d-flex');
        $(".inter_tax").addClass('d-none');
        var bc = document.getElementById("plosu").value;
        var compstate = document.getElementById("cmpstate").value;
        if (bc == compstate) {
            document.getElementById('cgst1').style.display = 'flex';
            document.getElementById('sgst1').style.display = 'flex';
            document.getElementById('igst1').style.display = 'none';

        } else {
            document.getElementById('cgst1').style.display = 'none';
            document.getElementById('sgst1').style.display = 'none';
            document.getElementById('igst1').style.display = 'flex';

        }

    });
    function show(str) {
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);
        }
        else {
            $('#amount').prop('readonly', true);
        }
        document.getElementById('Salarydetails').style.display = 'none';
        document.getElementById('Salarydetails').style.display = 'block';
    }
    function show2(sign) {
        document.getElementById('Salarydetails').style.display = 'block';
        document.getElementById('Salarydetails').style.display = 'none';
    }
    
    $(document).ready(function(){
        if ($('#yes').is(":checked")){
            document.getElementById('Cutingamount').style.display = 'none';
            document.getElementById('cuttingPercentage').style.display = 'block';
        }
        else{

            document.getElementById('Cutingamount').style.display = 'block';
            document.getElementById('cuttingPercentage').style.display = 'none';
        }
    });
    // $(document).ready(function(){
    //     if ($('#no').prop(":checked")){
    //         document.getElementById('Cutingamount').style.display = 'block';
    //         document.getElementById('cuttingPercentage').style.display = 'none';


    //     }
    //     else{
    //         document.getElementById('Cutingamount').style.display = 'block';
    //         document.getElementById('cuttingPercentage').style.display = 'none';

    //     }
    // });
    function show4(str) {
  
        document.getElementById('Cutingamount').style.display = 'none';
        document.getElementById('cuttingPercentage').style.display = 'block';
    }
    function show3(sign) {
        document.getElementById('Cutingamount').style.display = 'block';
        document.getElementById('cuttingPercentage').style.display = 'none';
        

    }
    
    function convert(){
            let per = document.getElementById("cu");
            let pervalue = per.value;
            let salary = document.getElementById("Salary").value;
            
            const amount =document.getElementById('Loan_Amound');
            
            const cutamount=Math.ceil((per.value/100)*amount.value);

            document.getElementById("cp").value=cutamount;
            
            if (salary > cutamount){
                document.getElementById("cp").value=cutamount;
                document.getElementById("cp").style.border="4px solid green"
                document.getElementById("cu").style.border="4px solid green"

            }
            else {
                document.getElementById("cp").value=cutamount;
                document.getElementById("cp").style.border="4px solid red"
                document.getElementById("cu").style.border="4px solid red"

            }
            
            
        }
        function validatecutamount(){
            const loamt = document.getElementById("amount").value;   
            let salary = document.getElementById("Salary").value;    
            if (Number(salary) >= loamt){
                document.getElementById("amount").style.border="4px solid green";
            }
            else {
                document.getElementById("amount").style.border="3px solid red";
            }

        }
        function convert2(){
            let cutamount = document.getElementById("cp");
            let cutamountvalue = cutamount.value;
            let salary = document.getElementById("Salary").value;
            
            const amount =document.getElementById('Loan_Amound');
            
            const per=Math.abs((cutamountvalue/amount.value)*100);

            document.getElementById("cu").value=per;
            
            if (Number(salary) > cutamountvalue){
                document.getElementById("cu").value=per;
                document.getElementById("cu").style.border="4px solid green"
                document.getElementById("cp").style.border="4px solid green"

            }
            else {
                document.getElementById("cu").value=per;
                document.getElementById("cu").style.border="4px solid red"
                document.getElementById("cp").style.border="4px solid red"

            }
            
            
        }
    function toggleDivVisibility() {
        var selectElement = document.getElementById("drp_Bank_Details");
        var selectedValue = selectElement.value;
        var bankDiv = document.getElementById("Bank_Details");

        if (selectedValue === "Yes") {
            bankDiv.style.display = "block";  // Show the div
        } else {
            bankDiv.style.display = "none";   // Hide the div
        }
    }
    function toggleDivTds() {
        var selectElement = document.getElementById("tdsapplicable");
        var selectedValue = selectElement.value;
        var tdsDiv = document.getElementById("div-tds");

        if (selectedValue === "Yes") {
            tdsDiv.style.display = "block";  // Show the div
        } else {
            tdsDiv.style.display = "none";   // Hide the div 
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function poppins() {
        var chkbtn = document.getElementById('okay');
        if (chkbtn.checked == true) {
            document.getElementById('tempstreet').value = document.getElementById('street').value;
            document.getElementById('tempcity').value = document.getElementById('city').value;
            document.getElementById('temppinco').value = document.getElementById('pinco').value;
            document.getElementById('tempcountry').value = document.getElementById('country').value;
            document.getElementById('tempstate').value = document.getElementById('state').value; 
        } else {
            document.getElementById('tempstreet').value = '';
            document.getElementById('tempcity').value = '';
            document.getElementById('tempstate').value = '';
            document.getElementById('temppinco').value = '';
            document.getElementById('tempcountry').value = '';
        }
    }
</script>
<script>
    // function hidinput(divId, element) {
    //     if (element.value == 'GST unregistered' || element.value == 'Consumer' || element.value == 'Overseas') {
    //         document.getElementById(divId).style.display = 'none';
    //     } else {
    //         document.getElementById(divId).style.display = 'block';
    //     }
    // }

    function hidinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }

    function disinput2(divId, element) {
        if (element.value == 'GST-registered-Regular') {
            document.getElementById(divId).style.display = 'block';
        } else {
            document.getElementById(divId).style.display = 'none';
        }
    }



    function checkgst(element) {
        var gstinput = element.value;
        var gstregexp = "[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}";
        if (gstinput.match(gstregexp)) {
            document.getElementById('warngst').innerHTML = '';
        } else {
            document.getElementById('warngst').innerHTML = 'Please provide a valid GST Number';
            alert('Please provide a valid GST Number');
        }
    }

    function checkpan(element) {
        var paninput = element.value;
        var panregexp = ["[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}"]
        if (paninput.match(panregexp)) {
            document.getElementById('warnpan').innerHTML = '';
        } else {
            document.getElementById('warnpan').innerHTML = 'Please provide a valid PAN Number';
            alert('Please provide a valid PAN Number')
        }
    }

    function checkweb(element) {
        var webinput = element.value;
        var webregexp = "www."
        if (webinput.startsWith(webregexp)) {
            document.getElementById('warnweb').innerHTML = '';
        } else {
            document.getElementById('warnweb').innerHTML = 'Please provide a valid Website Address';
            alert('Please provide a valid Website Address')
        }
    }
</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</script>
<script type="text/javascript">
    function show(str) { 
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);
        }
        else {
            $('#amount').prop('readonly', true);
        }
        document.getElementById('Salarydetails').style.display = 'none';
        document.getElementById('Salarydetails').style.display = 'block';
    }

    function show2(sign) {
        document.getElementById('Salarydetails').style.display = 'block';
        document.getElementById('Salarydetails').style.display = 'none'; 
    }

    function toggleDivVisibility() {
        var selectElement = document.getElementById("drp_Bank_Details");
        var selectedValue = selectElement.value;
        var bankDiv = document.getElementById("Bank_Details");

        if (selectedValue === "Yes") {
            bankDiv.style.display = "block";  // Show the div
        } else {
            bankDiv.style.display = "none";   // Hide the div
        }
    }

    function DefineSalaryShow() {
        var time_based = document.getElementById("time_based_show");
        if (document.getElementById('Employees').value != 'Timebased') {
            $('#amount').prop('readonly', false);  
            time_based.style.display = "none";
        }
        else {
            $('#amount').prop('readonly', true); 
            time_based.style.display = "flex";
        }
 
    }

    $('#hours, #rate').on('input', function () {
        var hours = parseFloat($('#hours').val());
        var rate = parseFloat($('#rate').val());
        var amount = hours * rate;
        $('#amount').val(amount);
    });

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }
    }
    function toggleDivTds() {
        var selectElement = document.getElementById("tdsapplicable");
        var selectedValue = selectElement.value;
        var tdsDiv = document.getElementById("div-tds");

        if (selectedValue === "Yes") {
            tdsDiv.style.display = "block";  // Show the div
        } else {
            tdsDiv.style.display = "none";   // Hide the div 
        }
    }
</script>

{% endblock %}