{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
<style type="text/css">
    form div{
        width: 100%;
    }


    .top .right1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: rgba(128, 128, 128, 0.09);
        padding: 30px;
        
    }
    
    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative
    }

</style>


{% for a in stock %}
<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-12">
                    <div class="card" style="background-color: #2a4964;">
                        <div class="row no-gutters">
                            <div class="col-md-12 mt-4 mb-4">
                                <center>
                                    <h5 class="card-title"><h3 style="text-transform:Uppercase;">STOCK ADJUSTMENT VIEW</h3></h5>
                                </center>
                                <hr style="width: 97%; margin-left: 3vh; margin-right: 2vh;">
                            </div> 
                            <div class="col-md-1" style="margin-top: -2vh; margin-left: 2vh;">
                                <h6>Overview</h6>
                            </div>
                            <div class="col-md-1" style="margin-top: -2vh; " >
                                <h6>Statement</h6>
                            </div>
                            {% if a.status == "Draft" %}
                                <div class="col-md-6"></div>
                            {% else %}
                                <div class="col-md-7"></div>
                            {% endif %}
                            <div class="col-md-1 mr-3 ml-5" style="margin-top: -2vh; margin-bottom: 2vh;">
                                <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" name="draft" style="font-size: small;">
                                    <i class="fa fa-edit" style="font-size:medium;"> &nbsp;Edit</i>
                                </button>
                            </div>
                            <div class="col-md-1" style="margin-top: -2vh; margin-bottom: 2vh;">
                                <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" name="draft" style="font-size: small;">
                                    <i class="fa fa-trash-o" style="font-size: medium;">&nbsp;Delete</i>
                                </button>
                            </div>
                            {% if a.status == "Draft" %}
                            <div class="col-md-1 ml-3" style="margin-top: -2vh; margin-bottom: 2vh;">
                                <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" name="draft" style="font-size: small;">
                                    <i class="fa fa-exchange" aria-hidden="true" style="font-size: medium;"> Convert</i>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <form action="#" method="post" class="needs-validation" novalidate>
            {% csrf_token %}

                <div class="card" style="background-color: #2d4458;">
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Date</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Reason</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Description</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Reference Number</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Mode of Adjustment</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Status</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Account</label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" style="margin: auto;">
                            <label for="">Created By</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="margin: auto;">
                            <a href="{% url 'goitem' %}" class="btn btn-outline-info rounded-pill w-100 text-light">
                            BACK</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}