@login_required(login_url='regcomp')
def update_stock_adjustment(request,id):
        if request.method == 'POST':
            cmp1 = company.objects.get(id=request.session['uid'])
            stock = stockadjust.objects.get(id=id)
            stock.mode = request.POST.get('mode')
            stock.ref_no = request.POST.get('refno')
            stock.date = request.POST.get('date')
            stock.account = request.POST.get('account')
            stock.reason = request.POST.get('reason')
            if request.POST.get('desc') != "":
                stock.description = request.POST.get('desc')
                
            stock.attach = request.FILES.get('file')

            if 'draft' in request.POST:
                stock.status = "Draft"
            elif 'save' in request.POST:
                stock.status = "Approved"

            stock.item1 = request.POST.get('item1')
            stock.qty1 = request.POST.get('qty1')
            stock.qty_hand1 = request.POST.get('qty_hand1')
            stock.new_qty1 = request.POST.get('new_qty1')

            stock.item2 = request.POST.get('item2')
            stock.qty2 = request.POST.get('qty2')
            stock.qty_hand2 = request.POST.get('qty_hand2')
            stock.new_qty2 = request.POST.get('new_qty2')

            stock.item3 = request.POST.get('item3')
            stock.qty3 = request.POST.get('qty3')
            stock.qty_hand3 = request.POST.get('qty_hand3')
            stock.new_qty3 = request.POST.get('new_qty3')

            stock.item4 = request.POST.get('item4')
            stock.qty4 = request.POST.get('qty4')
            stock.qty_hand4 = request.POST.get('qty_hand4')
            stock.new_qty4 = request.POST.get('new_qty4')

            stock.item5 = request.POST.get('item5')
            stock.qty5 = request.POST.get('qty5')
            stock.qty_hand5 = request.POST.get('qty_hand5')
            stock.new_qty5 = request.POST.get('new_qty5')
            
            item = itemtable.objects.get(name=stock.item1)
            item.stock = stock.qty_hand1
            item.save()  


            try:
                item1 = itemtable.objects.get(name=stock.item2)
                item1.stock = stock.qty_hand2
                item1.save() 
            except itemtable.DoesNotExist:
                item1 = None
            try:
                item2 = itemtable.objects.get(name=stock.item3)
                item2.stock = stock.qty_hand3
                item2.save() 
            except itemtable.DoesNotExist:
                item1 = None
            try:        
                item3 = itemtable.objects.get(name=stock.item4)
                item3.stock = stock.qty_hand4
                item3.save() 
            except itemtable.DoesNotExist:
                item1 = None  
            try:      
                item4 = itemtable.objects.get(name=stock.item5)
                item4.stock = stock.qty_hand5
                item4.save()  
            except itemtable.DoesNotExist:
                item1 = None                     
            stock.save()
            
            messages.success(request, 'Stock Updated successfully')
            
            return redirect('view_stockadjust',id)
        return render(request,'app1/edit_stockadjust.html')    