{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
{% load mathfilters %}
{% if user.is_authenticated %}
<!-- Include jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<!-- Include jQuery.table2excel plugin -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-table2excel@1.1.0/dist/jquery.table2excel.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style>
    #ui-datepicker-div {
        width: 20rem;
        left: 632px;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .datepicker {
        margin-top: 1rem;
        display: grid;
        justify-items: center;
    }

    select>option {
        background-color: rgb(212, 212, 212);
    }

    .ui-datepicker-prev {
        background: white;
        cursor: pointer;
    }

    .ui-datepicker-next {
        background: white;
        cursor: pointer;
    }

    .ui-datepicker .ui-datepicker-buttonpane button {
        color: white;
        background: black;
    }

    .ui-datepicker .ui-datepicker-buttonpane button:hover {
        color: rgb(0, 0, 0);
        background: rgb(177, 177, 177);
    }


    .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bar .left input {
        height: 5vh;
    }

    .nav .active {
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    .nav li a {
        text-decoration: none;
    }
</style>

<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center>
                    <h6>{{cmp1.cname}}</h6>
                    <h2 class="mb-0">GSTR-1 Report</h2>
                    <div class="display">
                        <div id="d1" style="display: inline-block;"></div>
                        <div id="d2" style="display: inline-block;"></div>
                    </div>

                </center>
                <hr>
            </div>
        </div>
    </div>

    <div class="card radius-15">
        <div class="card-body">
            <div class="bar">
                <div class=" left">
                    <div class="px-2">
                        <label style="text-align:left ">From</label><br>
                        <input name="FromDate" class="inputdate form-control" id="in1" type="date">
                    </div>
                    <div class="px-2">
                        <label style="text-align:left ">To</label><br>
                        <input name="ToDate" class="inputdate form-control" id="in2" type="date">
                    </div>

                </div>


            </div>
            <div class="bar pt-4">
                <div class="left px-2">
                    <a class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        role="button"><i class="fa fa-filter"></i> Filter By
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="filterTable('All')">All</a>
                        <a class="dropdown-item" onclick="filterTable('With')">with GSTIN</a>
                        <a class="dropdown-item" onclick="filterTable('Without')">without GSTIN</a>
                    </div>


                </div>
                <div class="right">
                    <button class="btn btn_pdf btn-outline-info">PDF</button>
                    <button class="btn btn_print btn-outline-info" onclick="printDivs()">Print</button>
                    <button class=" btn btn-outline-info" id="export-button" onclick="exportAsExcel()">Excel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function ($) {


            $(document).on('click', '.btn_pdf', function (event) {
                $(document).ready(function () {
                    $('ul.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                        // Get the ID of the activated tab
                        activatedTabId = $(event.target).attr('href').substring(1);
                        console.log('Activated tab ID:', activatedTabId);
                    });
                });
                var id = activatedTabId;
                event.preventDefault();
                var element = document.getElementById(id);
                element.style.color = 'black';
                element.style.backgroundColor = '#243e54';
                var opt =
                {
                    margin: 1,
                    filename: 'gstr1' + '.pdf',
                    image: { type: 'png', quality: 1.0 },
                    html2canvas: { scale: 3, useCORS: true, backgroundColor: null },
                    jsPDF: { unit: 'in', format: 'a3', orientation: 'portrait' }
                };
                html2pdf().set(opt).from(element).save();

            });

        });


        function filterTable(filterValue) {
            $(document).ready(function () {
                $('ul.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                    // Get the ID of the activated tab
                    activatedTabId = $(event.target).attr('href').substring(1);
                    console.log('Activated tab ID:', activatedTabId);
                });
            });
            var id = activatedTabId;
            const table = document.getElementById(id);
            const rows = table.getElementsByTagName('tr');

            var startDate = new Date(document.getElementById("in1").value);
            var endDate = new Date(document.getElementById("in2").value);
            if (filterValue === 'All') {


                for (let i = 2; i < rows.length; i++) {
                    const row = rows[i];

                    var dateCell = row.cells[3];

                    // Assuming that the date you want to compare is in the first cell of each row
                    // Change this according to your table structure
                    var rowDate = new Date(dateCell.textContent);
                    console.log(rowDate);

                    if (rowDate <= endDate && rowDate >= startDate) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                }
            }
            else {
                for (let i = 2; i < rows.length; i++) {
                    const row = rows[i];
                    const cells = row.getElementsByTagName('td');
                    const gstinCell = cells[0];
                    var dateCell = row.cells[3];
                    var rowDate = new Date(dateCell.textContent);
                    if ((filterValue === 'With' && gstinCell.textContent !== '') || (filterValue === 'Without' && gstinCell.textContent === '')) {

                        if (rowDate <= endDate && rowDate >= startDate) {
                            row.style.display = 'table-row';
                        } else {
                            row.style.display = 'none';
                        }
                    } else {
                        row.style.display = 'none';
                    }
                }
            }
        }
    </script>

    <script>
        var activatedTabId = 1;
        $(document).ready(function () {
            $('ul.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                // Get the ID of the activated tab
                activatedTabId = $(event.target).attr('href').substring(1);
                console.log('Activated tab ID:', activatedTabId);
            });
        });
        function printDivs() {
            $(document).ready(function () {
                $('ul.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                    // Get the ID of the activated tab
                    activatedTabId = $(event.target).attr('href').substring(1);
                    console.log('Activated tab ID:', activatedTabId);
                });
            });
            var id = activatedTabId

            const pdfCard = document.getElementById(id).cloneNode(true);
            pdfCard.style.color = 'black';
            pdfCard.style.backgroundColor = '#243e54';
            // Create a new window for printing
            const printWindow = window.open('', '');
            const pageTitle = printWindow.document.createElement('h1');
            pageTitle.style.textAlign = "center";
            pageTitle.style.color = "black";
            pageTitle.textContent = 'GSTR1';
            const h1Element = printWindow.document.createElement('h2');
            h1Element.style.color = "black";
            h1Element.textAlign = "center";
            h1Element.textContent = 'GSTR1';
            // var printContent = document.getElementById(id).innerHTML;

            // var originalContents = document.body.innerHTML;
            // var containerDiv = document.createElement("div");
            // containerDiv.style.textAlign = "center";
            // var h1Element = document.createElement("h2");
            // var h2Element = document.createElement("h1");
            // h2Element.textContent = "GSTR1 REPORT"
            if (id == '1') {
                h1Element.textContent = "Sale";
            }
            else {
                h1Element.textContent = "Sale Return";
            }


            var styleElement = document.createElement("style");
            styleElement.textContent = `
    
    body {
        background-color: #333;
        color : black;
        font-family: Arial, sans-serif;
        /* Add more styles as needed */
    }
    h2,h1 {
        color: #333;
        /* Add more styles as needed */
    }
`;


            // Append the <h2> element and style element to the containerDiv
            printWindow.document.body.appendChild(pageTitle);
            printWindow.document.body.appendChild(h1Element);

            // Append the cloned 'pdf-card' div to the new window
            printWindow.document.body.appendChild(pdfCard);

            // Ensure the styles are preserved by copying CSS from the original document
            const stylesheets = document.styleSheets;
            for (let i = 0; i < stylesheets.length; i++) {
                const stylesheet = stylesheets[i];
                if (stylesheet.href) {
                    const link = printWindow.document.createElement('link');
                    link.rel = 'stylesheet';
                    link.href = stylesheet.href;
                    printWindow.document.head.appendChild(link);
                }
            }

            // Trigger the print dialog for the new window
            printWindow.print();

            // Close the new window after printing
            printWindow.close();
            // activatedTabId=1;
        }

    </script>

    <script>
        function exportAsExcel() {
            const table1 = document.getElementById('myTable');
            const table2 = document.getElementById('myTable2');

            const wb = XLSX.utils.book_new();

            const ws1 = XLSX.utils.table_to_sheet(table1);
            const ws2 = XLSX.utils.table_to_sheet(table2);

            XLSX.utils.book_append_sheet(wb, ws1, 'Sale'); // Add the first sheet to the workbook
            XLSX.utils.book_append_sheet(wb, ws2, 'Sale return'); // Add the second sheet to the workbook

            XLSX.writeFile(wb, 'gstr1.xlsx');
        }


    </script>




    <div class="card radius-15 " id="pdf-card" style="overflow: auto;">
        <div class="card-body" id="exTab2">

            <ul class="nav nav-tabs row">
                <li class="active col-6 text-center">
                    <a href="#1" data-toggle="tab">Sale</a>
                </li>
                <li class="col-6 text-center"><a href="#2" data-toggle="tab">Sale Return</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="1" data-title="Sale">

                    <table class="table table-responsive-md mt-4 table-hover table-bordered print-only" id="myTable"
                        style="background-color: rgba(0, 0, 0, 0.2);">
                        <thead>
                            <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">

                                <th colspan="5" style="text-align: center;">Invoice Details</th>
                                <th rowspan="2" style="text-align: center;">Tax Rate</th>
                                <th rowspan="2" style="text-align: center;">Cess Rate</th>
                                <th rowspan="2" style="text-align: center;">Taxable Value</th>
                                <th colspan="4" style="text-align: center;">Amount</th>
                                <th rowspan="2" style="text-align: center;">Place Of Supply(Name Of State)</th>
                            </tr>
                            <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                                <th style="text-align: center;">GSTIN/UIN</th>
                                <th style="text-align: center;">Party Name</th>
                                <th style="text-align: center;">Invoice No</th>
                                <th style="text-align: center;">Date</th>
                                <th style="text-align: center;">Value</th>

                                <th style="text-align: center;">Integrated Tax</th>
                                <th style="text-align: center;">Central Tax</th>
                                <th style="text-align: center;">State/UT Tax</th>
                                <th style="text-align: center;">Cess</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in sale %}
                            <tr class="text-center">
                                <td>{{i.gstin}}</td>
                                <td>{{i.cust}}</td>
                                <td>{{i.invoiceno}}</td>
                                <td>{{i.invoicedate}}</td>
                                <td>{{i.grandtotal}}</td>
                                <td>{{i.IGST}}</td>
                                <td>0</td>
                                <td>{{i.subtotal}}</td>
                                <td>{{i.IGST}}</td>
                                <td>{{i.CGST}}</td>
                                <td>{{i.SGST}}</td>
                                <td>0</td>
                                <td>{{i.placosupply}}</td>

                            </tr>
                            {% endfor %}
                            {% for j in ret_invoices %}
                            <tr class="text-center">
                                <td>{{j.gstin}}</td>
                                <td>{{j.customer}}</td>
                                <td>{{j.invoice_number}}</td>
                                <td>{{j.invoice_date}}</td>
                                <td>{{j.total_amount}}</td>
                                <td>0</td>
                                <td>0</td>
                                <td>{{j.total_amount}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td>{{j.place_of_supply}}</td>
                            </tr>
                            {% endfor %}
                            {% for i in rec_invoices %}
                            <tr class="text-center">
                                <td>{{i.gstin}}</td>
                                <td>{{i.customername}}</td>
                                <td>{{i.recinvoiceno}}</td>
                                <td>{{i.startdate}}</td>
                                <td>{{i.grandtotal}}</td>
                                <td>{{i.IGST}}</td>
                                <td>0</td>
                                <td>{{i.subtotal}}</td>
                                <td>{{i.IGST}}</td>
                                <td>{{i.CGST}}</td>
                                <td>{{i.SGST}}</td>
                                <td>0</td>
                                <td>{{i.placosupply}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>


                </div>
                <div class="tab-pane" id="2" data-title="Sale return">

                    <table class="table2excel  table table-responsive-md mt-4 table-hover table-bordered "
                        style="background-color: rgba(0, 0, 0, 0.2);" id="myTable2">
                        <thead>
                            <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">

                                <th colspan="7" style="text-align: center;">Cr. Note Details</th>
                                <th rowspan="2" style="text-align: center;">Tax Rate</th>
                                <th rowspan="2" style="text-align: center;">Cess Rate</th>
                                <th rowspan="2" style="text-align: center;">Taxable Value</th>
                                <th colspan="4" style="text-align: center;">Amount</th>
                                <th rowspan="2" style="text-align: center;">Place Of Supply(Name Of State)
                                </th>
                            </tr>
                            <tr class="text-center" style="background-color: rgba(255, 255, 255, 0.137);">
                                <th rowspan="2" style="text-align: center;">GSTIN/UIN</th>
                                <th style="text-align: center;">Party Name</th>
                                <th style="text-align: center;">Invoice No</th>
                                <th style="text-align: center;">Invoice Date</th>
                                <th style="text-align: center;">Note No.</th>
                                <th style="text-align: center;">Note Date</th>
                                <th style="text-align: center;">Value</th>

                                <th style="text-align: center;">Integrated Tax</th>
                                <th style="text-align: center;">Central Tax</th>
                                <th style="text-align: center;">State/UT Tax</th>
                                <th style="text-align: center;">Cess</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cn %}
                            <tr class="text-center">
                                <td>{{i.gstin}}</td>
                                <td>{{i.cust}}</td>
                                <td>Nill</td>
                                <td>Nill</td>
                                <td>{{i.credit_no}}</td>
                                <td>{{i.creditdate}}</td>
                                <td>{{i.grandtotal}}</td>
                                <td>{{i.taxamount}}</td>
                                <td>0</td>
                                <td>{{i.subtotal}}</td>
                                {% if i.supply == cmp1.state %}
                                <td>0</td>
                                <td>{{ i.taxamount|div:2 }}</td>
                                <td>{{ i.taxamount|div:2 }}</td>
                                {% else %}
                                <td>{{i.taxamount}}</td>
                                <td>0</td>
                                <td>0</td>
                                {% endif %}



                                <td>0</td>
                                <td id="sply">{{i.supply}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


<script>
    var table = document.getElementById("myTable");

    var fromDate;
    $('#in1').on('change', function () {
        fromDate = $(this).val();
        $('#in2').prop('min', function () {
            return fromDate
        })
        var startDate = new Date(document.getElementById("in1").value);
        // var endDate = new Date(document.getElementById("in2").value);
        var rows = table.getElementsByTagName("tr");

        for (var i = 2; i < rows.length; i++) {
            var row = rows[i];
            var dateCell = row.cells[3];
            var rowDate = new Date(dateCell.textContent);

            if (rowDate >= startDate) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
        var tdate = new Date(fromDate)
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById("d1").innerHTML = tdate.toLocaleDateString(undefined, options);
    })
    var toDate;
    $('#in2').on('change', function () {
        toDate = $(this).val();
        $('#in1').prop('max', function () {
            return toDate
        })
        var startDate = new Date(document.getElementById("in1").value);
        var endDate = new Date(document.getElementById("in2").value);
        var rows = table.getElementsByTagName("tr");
        for (var i = 2; i < rows.length; i++) {
            var row = rows[i];
            var dateCell = row.cells[3];
            var rowDate = new Date(dateCell.textContent);

            if (rowDate <= endDate && rowDate >= startDate) {
                row.style.display = "";
                console.log("display");
            } else {
                row.style.display = "none";
                
            }
        }
        var tdate = new Date(toDate)
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById("d2").innerHTML = "  To  " + tdate.toLocaleDateString(undefined, options);
    })


</script>
{% endif %}
{% endblock %}