{% extends 'app1/base.html' %}
{% block body %}

    <style>
        #update{
            width: 25vh;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 5vh;
            margin-top: 2vh;
            background-color: #2a4964;
            color: white;
            font-size: large;
            height: 7vh;
            border-radius: 5vh;
            border-color: #1b87dd;
        }
    </style>


    


        <div class="card radius-15 h-20" >
            <div class="row">
                <div class="col-md-12">
                    <center><h1 class="mt-3">CUSTOMIZE PAGE</h1></center>
                    <hr style="width:95%; color:white;">
                </div>
            </div>
            <form method="post" action="{% url 'backup_view' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4 ml-5 mb-2">
                        <label for="date">From</label> 
                        <input type="date" id="fromdate" name="from_date" required>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="date">To</label>
                        <input type="date" id="todate" name="to_date" required>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-1 mb-3">
                        <button class="btn btn-outline-info text-grey" id="backup-button" type="submit">Backup</button>
                    </div>
                </div>
            </form>
        </div>
        <form method="post" action="{% url 'hide_options' %}">
            {% csrf_token %}
            <br>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3" style="background-color:#162532; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">PURCHASE</h3>
                        <hr>

                        <label for="option1">Vendor</label>
                        <input type="checkbox" name="selected_options" value="vendor" id="option1" style="float: right;"><br>
                        
                        <label for="option2">Purchase Order</label>
                        <input type="checkbox" name="selected_options" value="purchaseorder" id="option2" style="float: right;"><br>
                        
                        <label for="option3">Bill</label>
                        <input type="checkbox" name="selected_options" value="bill" id="option3" style="float: right;"><br>
                        
                        <label for="option4">Expense</label>
                        <input type="checkbox" name="selected_options" value="expense" id="option4" style="float: right;"><br>
                        
                        <label for="option5">Payment</label>
                        <input type="checkbox" name="selected_options" value="payment" id="option5" style="float: right;"><br>
                        
                        <label for="option6">Debit Note</label>
                        <input type="checkbox" name="selected_options" value="debitnote" id="option6" style="float: right;"><br>
                        
                        <label for="option7">Recurring Bill</label>
                        <input type="checkbox" name="selected_options" value="recurringbill" id="option7" style="float: right;"><br>
                    </div><br>
                    <div class="col-md-3 ml-5" style="background-color:#162532; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">CASH & BANK</h3>
                        <hr>
                        <label for="option8">Offline Banking</label>
                        <input type="checkbox" name="selected_options" value="Offlinebanking" id="option8" style="float: right;"><br>
                        
                        <label for="option9">Bank Reconcilation</label>
                        <input type="checkbox" name="selected_options" value="bankreconcilation" id="option9" style="float: right;"><br>
                        
                        <label for="option10">Bank Holders</label>
                        <input type="checkbox" name="selected_options" value="bankholders" id="option10" style="float: right;"><br>
        
                        <label for="option11">Cash In Hand</label>
                        <input type="checkbox" name="selected_options" value="cashinhands" id="option11" style="float: right;"><br>
        
                        <label for="option12">Cheques</label>
                        <input type="checkbox" name="selected_options" value="cheques" id="option12" style="float: right;"><br>
        
                        <label for="option13">Loan Account</label>
                        <input type="checkbox" name="selected_options" value="loanaccount" id="option13" style="float: right;"><br>
                    </div><br>
                    <div class="col-md-3 ml-5" style="background-color:#162532; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">SALES</h3>
                        <hr>
                        <label for="option14">Customers</label>
                        <input type="checkbox" name="selected_options" value="customers" id="option14" style="float: right;"><br>
                        
                        <label for="option15">Estimate</label>
                        <input type="checkbox" name="selected_options" value="estimate" id="option15" style="float: right;"><br>
                        
                        <label for="option16">Sales Order</label>
                        <input type="checkbox" name="selected_options" value="salesorder" id="option16" style="float: right;"><br>
        
                        <label for="option17">Invoices</label>
                        <input type="checkbox" name="selected_options" value="invoices" id="option17" style="float: right;"><br>
                        
                        <label for="option18">Credit Note</label>
                        <input type="checkbox" name="selected_options" value="creditnote" id="option18" style="float: right;"><br>
                        
                        <label for="option19">Payments Received</label>
                        <input type="checkbox" name="selected_options" value="paymentsreceived" id="option19" style="float: right;"><br>
                        
                        <label for="option20">Retainer Invoices</label>
                        <input type="checkbox" name="selected_options" value="retainerinvoices" id="option20" style="float: right;"><br>
                        
                        <label for="option21">Delivery Challan</label>
                        <input type="checkbox" name="selected_options" value="deliverychallan" id="option21" style="float: right;"><br>
                        
                        <label for="option22">Reccuring Invoices</label>
                        <input type="checkbox" name="selected_options" value="reccuringinvoices" id="option22" style="float: right;"><br>
                    </div><br>
                </div><br><br>
        
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 " style="background-color:#162532; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">REPORTS</h3>
                        <hr>
                        <label for="option23">Transaction Reports</label>
                        <input type="checkbox" name="selected_options" value="transactonreport" id="option23" style="float: right;"><br>
                        
                        <label for="option24">Party</label>
                        <input type="checkbox" name="selected_options" value="party" id="option24" style="float: right;"><br>
                        
                        <label for="option25">GST Reports</label>
                        <input type="checkbox" name="selected_options" value="gstreports" id="option25" style="float: right;"><br>
                        
                        <label for="option26">Profit & Loss</label>
                        <input type="checkbox" name="selected_options" value="profitandloss" id="option26" style="float: right;"><br>
                        
                        <label for="option27">Balance Sheet</label>
                        <input type="checkbox" name="selected_options" value="balancesheet" id="option27" style="float: right;"><br>
                        
                        <label for="option28">Trial Balance</label>
                        <input type="checkbox" name="selected_options" value="trialbalance" id="option28" style="float: right;"><br>
                        
                        <label for="option29">Accounts Receivables</label>
                        <input type="checkbox" name="selected_options" value="accountsreceivables" id="option29" style="float: right;"><br>
                        
                        <label for="option30">Accounts Payables</label>
                        <input type="checkbox" name="selected_options" value="accountspayables" id="option30" style="float: right;"><br>
                        
                        <label for="option31">Stock Summary</label>
                        <input type="checkbox" name="selected_options" value="stocksummary" id="option31" style="float: right;"><br>
                        
                        <label for="option32">Stock Valuation</label>
                        <input type="checkbox" name="selected_options" value="stockvaluation" id="option32" style="float: right;"><br>
        
                        <label for="option33">Sales Summary Report</label>
                        <input type="checkbox" name="selected_options" value="salessummaryreport" id="option33" style="float: right;"><br>
                    </div><br>
                    <div class="col-md-2" style="background-color:#162532; margin-left: 5vw; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">ITEM</h3>
                        <hr>
                        <label for="option34">Items</label>
                        <input type="checkbox" name="selected_options" value="items" id="option34" style="float: right;"><br>
                        
                        <label for="option35">Price Lists</label>
                        <input type="checkbox" name="selected_options" value="pricelist" id="option35" style="float: right;"><br>
                        
                        <label for="option36">Stock Adjustments</label>
                        <input type="checkbox" name="selected_options" value="stockadjustment" id="option36" style="float: right;"><br>
                    </div><br>
                    <div class="col-md-2" style="background-color:#162532; margin-left: 9vh; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">ACCOUNTING</h3>
                        <hr>
                        <label for="option37">Chart of Accounts</label>
                        <input type="checkbox" name="selected_options" value="chartofaccounts" id="option37" style="float: right;"><br>
                        
                        <label for="option38">Manual Journal</label>
                        <input type="checkbox" name="selected_options" value="manualjournal" id="option38" style="float: right;"><br>
                        
                        <label for="option39">Reconcile</label>
                        <input type="checkbox" name="selected_options" value="reconcile" id="option39" style="float: right;"><br>
                    </div><br>
                    <div class="col-md-2" style="background-color:#162532; margin-left: 9vh; border-radius: 2vh;">
                        <h3 style="text-align: center; padding-top: 1vh;">PAYROLL</h3>
                        <hr>
                        <label for="option40">Employee</label>
                        <input type="checkbox" name="selected_options" value="employee" id="option40" style="float: right;"><br>
                        
                        <label for="option41">Employee Loan</label>
                        <input type="checkbox" name="selected_options" value="employeeloan" id="option41" style="float: right;"><br>
                    </div>
                </div>
            </div>
            <input type="submit" value="Update Options" id="update" onclick="saveSelection()">
        </div>
    </form><br>

    <script>
        // Function to save checkbox state in local storage
        function saveCheckboxState(checkboxId, isChecked) {
          localStorage.setItem(checkboxId, isChecked);
        }
      
        // Function to load checkbox state from local storage
        function    loadCheckboxState(checkboxId) {
          const isChecked = localStorage.getItem(checkboxId);
          if (isChecked === "true") {
            document.getElementById(checkboxId).checked = true;
          }
        }
      
        // Add event listeners for checkbox changes
        document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
            saveCheckboxState(this.id, this.checked);
          });
        });
      
        // Load checkbox states when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            loadCheckboxState('option1');
            loadCheckboxState('option2');
            loadCheckboxState('option3');
            loadCheckboxState('option4');
            loadCheckboxState('option5');
            loadCheckboxState('option6');
            loadCheckboxState('option7');
            loadCheckboxState('option8');
            loadCheckboxState('option9');
            loadCheckboxState('option10');
            loadCheckboxState('option11');
            loadCheckboxState('option12');
            loadCheckboxState('option13');
            loadCheckboxState('option14');
            loadCheckboxState('option15');
            loadCheckboxState('option16');
            loadCheckboxState('option17');
            loadCheckboxState('option18');
            loadCheckboxState('option19');
            loadCheckboxState('option20');
            loadCheckboxState('option21');
            loadCheckboxState('option22');
            loadCheckboxState('option23');
            loadCheckboxState('option24');
            loadCheckboxState('option25');
            loadCheckboxState('option26');
            loadCheckboxState('option27');
            loadCheckboxState('option28');
            loadCheckboxState('option29');
            loadCheckboxState('option30');
            loadCheckboxState('option31');
            loadCheckboxState('option32');
            loadCheckboxState('option33');
            loadCheckboxState('option34');
            loadCheckboxState('option35');
            loadCheckboxState('option36');
            loadCheckboxState('option37');
            loadCheckboxState('option38');
            loadCheckboxState('option39');
            loadCheckboxState('option40');
            loadCheckboxState('option41');
        });
      </script>

<script>
    function saveSelection() {
        const selectedCheckboxes = [];

        // Check each checkbox and store the selected values
        if (document.getElementById('option1').checked) {
            selectedCheckboxes.push(document.getElementById('option1').value);
        }
        if (document.getElementById('option2').checked) {
            selectedCheckboxes.push(document.getElementById('option2').value);
        }
        if (document.getElementById('option3').checked) {
            selectedCheckboxes.push(document.getElementById('option3').value);
        }
        if (document.getElementById('option4').checked) {
            selectedCheckboxes.push(document.getElementById('option4').value);
        }
        if (document.getElementById('option5').checked) {
            selectedCheckboxes.push(document.getElementById('option5').value);
        }
        if (document.getElementById('option6').checked) {
            selectedCheckboxes.push(document.getElementById('option6').value);
        }
        if (document.getElementById('option7').checked) {
            selectedCheckboxes.push(document.getElementById('option7').value);
        }
        if (document.getElementById('option8').checked) {
            selectedCheckboxes.push(document.getElementById('option8').value);
        }
        if (document.getElementById('option9').checked) {
            selectedCheckboxes.push(document.getElementById('option9').value);
        }
        if (document.getElementById('option10').checked) {
            selectedCheckboxes.push(document.getElementById('option10').value);
        }
        if (document.getElementById('option11').checked) {
            selectedCheckboxes.push(document.getElementById('option11').value);
        }
        if (document.getElementById('option12').checked) {
            selectedCheckboxes.push(document.getElementById('option12').value);
        }
        if (document.getElementById('option13').checked) {
            selectedCheckboxes.push(document.getElementById('option13').value);
        }
        if (document.getElementById('option14').checked) {
            selectedCheckboxes.push(document.getElementById('option14').value);
        }
        if (document.getElementById('option15').checked) {
            selectedCheckboxes.push(document.getElementById('option15').value);
        }
        if (document.getElementById('option16').checked) {
            selectedCheckboxes.push(document.getElementById('option16').value);
        }
        if (document.getElementById('option17').checked) {
            selectedCheckboxes.push(document.getElementById('option17').value);
        }
        if (document.getElementById('option18').checked) {
            selectedCheckboxes.push(document.getElementById('option18').value);
        }
        if (document.getElementById('option19').checked) {
            selectedCheckboxes.push(document.getElementById('option19').value);
        }
        if (document.getElementById('option20').checked) {
            selectedCheckboxes.push(document.getElementById('option20').value);
        }
        if (document.getElementById('option21').checked) {
            selectedCheckboxes.push(document.getElementById('option21').value);
        }
        if (document.getElementById('option22').checked) {
            selectedCheckboxes.push(document.getElementById('option22').value);
        }
        if (document.getElementById('option23').checked) {
            selectedCheckboxes.push(document.getElementById('option23').value);
        }
        if (document.getElementById('option24').checked) {
            selectedCheckboxes.push(document.getElementById('option24').value);
        }
        if (document.getElementById('option25').checked) {
            selectedCheckboxes.push(document.getElementById('option25').value);
        }
        if (document.getElementById('option26').checked) {
            selectedCheckboxes.push(document.getElementById('option26').value);
        }
        if (document.getElementById('option27').checked) {
            selectedCheckboxes.push(document.getElementById('option27').value);
        }
        if (document.getElementById('option28').checked) {
            selectedCheckboxes.push(document.getElementById('option28').value);
        }
        if (document.getElementById('option29').checked) {
            selectedCheckboxes.push(document.getElementById('option29').value);
        }
        if (document.getElementById('option30').checked) {
            selectedCheckboxes.push(document.getElementById('option30').value);
        }
        if (document.getElementById('option31').checked) {
            selectedCheckboxes.push(document.getElementById('option31').value);
        }
        if (document.getElementById('option32').checked) {
            selectedCheckboxes.push(document.getElementById('option32').value);
        }
        if (document.getElementById('option33').checked) {
            selectedCheckboxes.push(document.getElementById('option33').value);
        }
        if (document.getElementById('option34').checked) {
            selectedCheckboxes.push(document.getElementById('option34').value);
        }
        if (document.getElementById('option35').checked) {
            selectedCheckboxes.push(document.getElementById('option35').value);
        }
        if (document.getElementById('option36').checked) {
            selectedCheckboxes.push(document.getElementById('option36').value);
        }
        if (document.getElementById('option37').checked) {
            selectedCheckboxes.push(document.getElementById('option37').value);
        }
        if (document.getElementById('option38').checked) {
            selectedCheckboxes.push(document.getElementById('option38').value);
        }
        if (document.getElementById('option39').checked) {
            selectedCheckboxes.push(document.getElementById('option39').value);
        }
        if (document.getElementById('option40').checked) {
            selectedCheckboxes.push(document.getElementById('option40').value);
        }
        if (document.getElementById('option41').checked) {
            selectedCheckboxes.push(document.getElementById('option41').value);
        }
        
        // Store the selected values (you can use localStorage or send to the server)
        localStorage.setItem('selectedCheckboxes', JSON.stringify(selectedCheckboxes));

        }
</script>


{% endblock %}