{% extends 'app1/base.html' %}

{% block body %}
    {% load static %}


    <style>
        .tr{
            cursor: pointer;
        }
    </style>

    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">{{ cmp1.cname }}</h2></center><br>
                    <center><label style="font-size: 20px;">SALES REPORT</label></center>
                    <center><p id="hdate"></p></center>
                </div>
                <hr/>
            </div>
        </div>


        <div class="card radius-15">
            <div class="card-body">
                <form action="{% url 'getsales' %}" method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="Between">From</label> &nbsp;
                            <input type="date" name="fromdate" id="fromdate">   &nbsp; 
                            <label for="To">To</label>  &nbsp;
                            <input type="date" name="todate" id="todate">  &nbsp;
                
                            <!-- <button type="submit" class="btn btn-secondary" data-dismiss="modal" onclick="clearFilter(this)">Clear</button>  &nbsp;
                            <button type="submit" class="btn"  data-dismiss="modal" style="background-color: #198fed;"  onclick="ApplyDateFilter(this)">Apply</button> -->
                        </div>
                        <div class="col-sm-4" id="frdate" style="display: none;">
                            <label for="from">From</label>
                            <input type="date" class="form-control" name="fper">
                        </div>
                        <div class="col-sm-4" id="todate" style="display: none;">
                            <label for="from">To</label>
                            <input type="date" class="form-control" name="tper">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-info  rounded-pill w-100" type="submit">Run report</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card radius-15 p-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rectangle"
                             style="background-color: white;width: 1100px;height:1500px;border: 3px white;padding: 50px;margin: 20px">
                            <div class="rectangle"
                                 style="background-image: linear-gradient(dodgerblue, black); width: 1000px; height: 200px; margin-top: 20px;">
                                <div class="img-container"
                                     style="width: 140px; height: 140px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 50%; background-color: white; transform: translate(23%, 90%);">
                                    <img src="{{ cmp1.cimg.url }}"
                                         style="width: 140px; height: 140px; border-radius: 50%;">
                                </div>
                                <h2 style="margin-left: 200px;">{{ cmp1.cname }}</h2>
                            </div>
                            <div class="table-responsive" style="margin-top: 100px;">
                                <p style="text-align: right;color: black;">
                                    <span style="font-weight: bold;" >From Date : <span id="from"></span> </span><br> 
                                    <span style="font-weight: bold;" >To Date : <span id="to"></span></span>
                                  </p>
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th class="center font-weight-dark border-dark" style="color: black;">
                                                ITEM NAME
                                            </th>
                                            <th class="center font-weight-dark border-dark" style="color: black;">
                                                QUANTITY IN
                                            </th>
                                            <th class="center font-weight-dark border-dark" style="color: black;">
                                                QUANTITY OUT
                                            </th>
                                            <th class="center font-weight-dark border-dark" style="color: black;">
                                                AVAILABLE FOR SALE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb">
                                        {% for i in item %}
                                            <tr class="tr">
                                                <td class="center text-dark"><a style="color: blue;" href="{% url 'streport' i.id%}">{{ i.name }}</a></td>
                                                <td class="center text-dark 1st">{{ i.stockin }}</td>  
                                                <td class="center text-dark">{{ i.stockout }}</td>         
                                                <td class="center text-dark">{{i.stock}}</td>       
                                            </tr></a>
                                        {% endfor %}
                                        <thead>
                                            <tr>
                                                <th class="center font-weight-dark border-dark" style="color: black;">TOTAL</th>
                                                <th class="center font-weight-dark border-dark" style="color: black;" id="t3"></th>
                                                <th class="center font-weight-dark border-dark" style="color: black;" id="t2"></th>
                                                <th class="center font-weight-dark border-dark" style="color: black;" id="t1"></th>
                                            </tr>
                                        </thead>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo"><p></p></div>
    </div>

    <script>
        $(document).ready(function(){
            var empsalary;
            var total = 0;
            $('td:nth-child(4)').each(function()
            {
                salary = $(this).html();
                total +=parseInt(salary);
                $('#t1').text(total)
            });
            var empsalary1;
            var total1 = 0;
            $('td:nth-child(3)').each(function()
            {
                salary1 = $(this).html();
                total1 +=parseInt(salary1);
                $('#t2').text(total1)
            });
            var empsalary2;
            var total2 = 0;
            $('td:nth-child(2)').each(function()
            {
                salary2 = $(this).html();
                total2 +=parseInt(salary2);
                $('#t3').text(total2)
            });
        });
    </script>

    <script>

        from_Date = "{{from_date}}"
        to_Date = "{{to_date}}"

        from_date = from_Date
        to_date = to_Date
    
        var monthMap = {
            "Jan.": "01",
            "Feb.": "02",
            "March": "03",
            "April": "04",
            "May": "05",
            "June": "06",
            "July": "07",
            "Aug.": "08",
            "Sept.": "09",
            "Oct.": "10",
            "Nov.": "11",
            "Dec.": "12"
        };
    
        function formatDate(from_date) {
            var dateParts = from_date.split(",").map(function (part) {
            return part.trim();
            });
        
            var monthDayYear = dateParts[0].split(" ");
            var month = monthMap[monthDayYear[0]];
            var day = monthDayYear[1];
            var year = dateParts[1];
        
            var formattedDate = day + "-" + month + "-" + year;
        
            return formattedDate;
        }
    
        var from_date = formatDate(from_date);
        var to_date = formatDate(to_date);

        if(from_Date != '-1'){
            document.getElementById("from").innerHTML=from_date
            document.getElementById("to").innerHTML=to_date
            document.getElementById("hdate").innerHTML=from_date +" to "+to_date
        }
    
        if(from_date.length == 9){
            fyear = from_date.slice(5,9)
            fmonth = from_date.slice(2,4)
            fday = '0'+from_date.slice(0,1)
        }else{
            fyear = from_date.slice(6,10)
            fmonth = from_date.slice(3,5)
            fday = from_date.slice(0,2)
        }
        
        if(to_date.length == 9){
            tyear = to_date.slice(5,9)
            tmonth = to_date.slice(2,4)
            tday ='0' +to_date.slice(0,1)
        }else{
            tyear = to_date.slice(6,10)
            tmonth = to_date.slice(3,5)
            tday = to_date.slice(0,2)
        }
        
        document.getElementById("fromdate").value = fyear + '-' + fmonth + '-' + fday
        document.getElementById("todate").value = tyear + '-' + tmonth + '-' + tday
  
    </script>
  

{% endblock %}
