{% extends 'app1/base.html' %}
{% block body %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style type="text/css">
    form div{
        width: 100%;
    }


    .top .right1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: rgba(128, 128, 128, 0.09);
        padding: 30px;
        
    }
    
    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative
    }

    .btn:hover{
        color: white;
    }

    .ribbon-inner {
        text-align: center;
        color: #fff;
        top: -20px;
        left: -90px;
        width: 120px;
        padding: 3px;
        /* position: relative;
        transform: rotate(-45deg); */
    }
    .ribbon-open {
        background-color: #268ddd;
        border-color: #1c72b4;
    }

    table {
  border: 1px solid rgba(0,0,0,.4);
}

</style>


{% for a in stock %}
    <div class="page-content">
        <div class="card radius-15 overview">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card" style="background-color: #2a4964;">
                            <div class="row no-gutters">
                                <div class="col-md-12 mt-4 mb-4">
                                    <center>
                                        <h5 class="card-title"><h3 style="text-transform:Uppercase;">STOCK ADJUSTMENT VIEW</h3></h5>
                                    </center>
                                    <hr style="width: 97%; margin-left: 3vh; margin-right: 2vh;">
                                </div> 
                                <div class="col-md-1" style="margin-top: -2vh; margin-left: 2vh; margin-bottom: 2vh; background-color: #213b52; border-radius: 1vh;">
                                    <h6><a class="btn" onclick="overviewfun()">Overview</a></h6>
                                </div>
                                <div class="col-md-1" style="margin-top: -2vh; margin-bottom: 2vh; border-radius: 1vh;" >
                                    <h6><a class="btn" onclick="statementfun()">Statement</a></h6>
                                </div>
                                {% if a.status == "Draft" %}
                                    <div class="col-md-6"></div>
                                {% else %}
                                    <div class="col-md-7"></div>
                                {% endif %}
                                <div class="col-md-1 mr-3 ml-5" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'edit_stockadjust' a.id %}">
                                        <i class="fa fa-edit" style="font-size:medium;"> &nbsp;Edit</i>
                                    </a>
                                </div>
                                <div class="col-md-1" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'deletestockadjust' a.id %}" 
                                    onclick="return confirm('Are you sure you want to delete this item?')">
                                        <i class="fa fa-trash-o" style="font-size: medium;">&nbsp;Delete</i>
                                    </a>
                                </div>
                                {% if a.status == "Draft" %}
                                <div class="col-md-1 ml-3" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'approve_stock_adjust' a.id %}" 
                                    onclick="return confirm('Are you sure you want to Approve this item?')">
                                        <i class="fa fa-exchange" aria-hidden="true" style="font-size: medium;"> Convert</i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <form action="#" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                        <div class="card" style="background-color: #2d4458;"><br>
                          <div class="card" style="background-color:#162532; width: 75%; margin: auto;"><br>
                            <h2 style="text-align:center;color:white">STOCK ADJUSTMENT DETAILS</h2></span><br>
                            <div class="row ml-5">
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Reference Number  </label>
                                    <p style="margin-left:75px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.ref_no}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-2"  >
                                <div class="col-md-6 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Reason</label>
                                    <p style="margin-left:167px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.reason}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Description</label>
                                    <p style="margin-left:140px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.description}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Date</label>
                                    <p style="margin-left:190px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.date}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Mode of Adjustment</label>
                                    <p style="margin-left:65px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.mode}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Status</label>
                                    <p style="margin-left:175px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.status}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Account</label>
                                    <p style="margin-left:160px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{a.account}}</p><br>
                                </div>
                            </div><br>
                            <div class="row ml-5" >
                                <div class="col-md-7 d-flex" style="margin: auto;">
                                    <label style="color: white; font-size: large;">Created By</label>
                                    <p style="margin-left:135px;" >:</p>
                                    <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                    readonly>{{user.first_name}}</p><br>
                                </div>
                            </div><br>

                            {% if a.comment != "" %}
                                <div class="row ml-5" >
                                    <div class="col-md-7 d-flex" style="margin: auto;">
                                        <label style="color: white; font-size: large;">Comment</label>
                                        <p style="margin-left:150px;" >:</p>
                                        <p style="color: white;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                        readonly>{{a.comment}}</p><br>
                                    </div>
                                </div>
                            {% endif %}
                            
                            <br><br>
                            <div class="row" style="margin: auto;">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <table style="width:100%;margin-top:20px;table-layout:fixed;" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                        <thead style="background-color:rgba(0,0,0,.4)">
                                            <tr style="height:40px;">
                                                <td style="padding:5px 10px 5px 10px;word-wrap: break-word; text-align: center;" w class="table-head">
                                                        Item Details
                                                </td>
                                                {% if a.mode == "Quantity" %}
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        Quantity Available
                                                    </td>
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        New Quantity on hand
                                                    </td>
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        Quantity Adjusted
                                                    </td>
                                                {% else %}
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        Value Available
                                                    </td>
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        New Stock in Value
                                                    </td>
                                                    <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                        Adjusted Stock in Value
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        </thead>
                
                                        <tbody id="items-table-body">
                                            <tr class="row0" id="row1">
                                              <td  style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item1 }} </td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty1 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand1 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty1 }}</td>
                                            </tr>
                          
                                            <!-------------------ROW 1---------------------------->
                                            {% if a.item2 %}
                                            <tr class="row1" id="row2">
                                              <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item2 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty2 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand2 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty2 }}</td>
                                            </tr>
                                            {% endif %}
                                             <!-------------------ROW 2---------------------------->
                                             {% if a.item3 %}
                                             <tr class="row2" id="row3">
                                             
                                              <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item3 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty3 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand3 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty3 }}</td>
                                            </tr>
                                            {% endif %}
                                             <!-------------------ROW 3---------------------------->
                                             {% if a.item4%}
                                             <tr class="row3" id="row4">
                                              <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item4 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty4 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand4 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty4 }}</td>
                                            </tr>
                          
                                            {% endif %}
                          
                                             <!-------------------ROW 4---------------------------->
                                             {% if a.item5 %}
                                             <tr class="row4" id="row5">
                                              <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item5 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty5 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand5 }}</td>
                                              <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty5 }}</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><br>
                          </div><br>
                            <div class="row mr-3">
                                <div class="col-md-4" style="margin: auto;">
                                    <a href="{% url 'gostock_adjust' %}" class="btn btn-outline-info rounded-pill w-100 text-light">
                                    BACK</a>
                                </div>
                            </div><br>
                        </div>
                </form>
            </div>
        </div>


<!--################################################################   statement    ##################################################-->

        <div class="card radius-15 statement" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card" style="background-color: #2a4964;">
                            <div class="row no-gutters">
                                <div class="col-md-12 mt-4 mb-4">
                                    <center>
                                        <h5 class="card-title"><h3 style="text-transform:Uppercase;">STOCK ADJUSTMENT VIEW</h3></h5>
                                    </center>
                                    <hr style="width: 97%; margin-left: 3vh; margin-right: 2vh;">
                                </div> 
                                <div class="col-md-1" style="margin-top: -2vh; margin-left: 2vh; margin-bottom: 2vh; border-radius: 1vh;">
                                    <h6><a class="btn" onclick="overviewfun()">Overview</a></h6>
                                </div>
                                <div class="col-md-1" id ="state" style="margin-top: -2vh; margin-bottom: 2vh; border-radius: 1vh; background-color: #213b52;" >
                                    <h6><a class="btn" onclick="statementfun()">Statement</a></h6>
                                </div>
                                {% if a.status == "Draft" %}
                                    <div class="col-md-3"></div>
                                {% else %}
                                    <div class="col-md-4"></div>
                                {% endif %}
                                <div class="col-md-1 mr-2 ml-4" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'edit_stockadjust' a.id %}">
                                        <i class="fa fa-edit" style="font-size:medium;"> &nbsp;Edit</i>
                                    </a>
                                </div>
                                <div class="col-md-1 mr-2" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'deletestockadjust' a.id %}"
                                    onclick="return confirm('Are you sure you want to delete this item?')">
                                        <i class="fa fa-trash-o" style="font-size: medium;">&nbsp;Delete</i>
                                    </a>
                                </div>
                                <div class="col-md-1 mr-2" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" onclick="printSpecificArea()">
                                        <i class="fa fa-print"style="font-size: medium;">&nbsp;Print</i>
                                    </button>
                                </div>
                                <div class="col-md-1 mr-2" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" onclick="exportToPDF()">
                                        <i class="fa fa-file-pdf-o"style="font-size: medium;">&nbsp;PDF</i>
                                    </button>
                                </div>
                                <div class="col-md-1" style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" data-target="#newcomment" data-toggle="modal">
                                        <i class="fa fa-comment" aria-hidden="true" style="font-size: medium;">&nbsp;Comment</i>
                                    </button>
                                </div>

                                {% if a.status == "Draft" %}
                                <div class="col-md-1 ml-2 " style="margin-top: -2vh; margin-bottom: 2vh;">
                                    <a type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'approve_stock_adjust' a.id %}" 
                                    onclick="return confirm('Are you sure you want to Approve this item?')">
                                        <i class="fa fa-exchange" aria-hidden="true" style="font-size: medium;"> Convert</i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="card radius-15 p-5 print-content" style="margin-bottom: 50px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">        
                                <div id="GFG" ><br>
                                    <center>
                                        <div class="rectangle" style="color:black;  background-color: white;width: 850px;height:900px;border: 3px white;padding: 50px;">
                                            <div class="pcs-template-body" style="text-align:left;">
                                                
                                                {% if a.status == 'Draft' %}
                                                    <div class="ribbon-inner ribbon-open">DRAFT</div><br><br>
                                                {% else %}
                                                    <div class="ribbon-inner ribbon-open">APPROVED</div><br><br>
                                                {% endif %}
                                                <div style="display:table;width:100%;">
                                                    <div  class=" pcs-journal-header-section">
                                                        <div></div>
                                                        <span >
                                                            <h2 style="text-align:center;color:black">STOCK ADJUSTMENT</h2></span>
                                                            <p style="border-bottom: 1px solid grey; margin-left: auto; margin-right: auto; margin-top: 2vh; width: 75%;"></p>
                                                            <br>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row ml-5">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex" >
                                                        <label style="color: black;">Reference Number  </label>
                                                        <p style="margin-left:75px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.ref_no}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5"  >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-8 d-flex">
                                                        <label style="color: black;">Reason</label>
                                                        <p style="margin-left:145px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.reason}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex">
                                                        <label style="color: black;">Description</label>
                                                        <p style="margin-left:125px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.description}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex">
                                                        <label style="color: black;">Date</label>
                                                        <p style="margin-left:165px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.date}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex">
                                                        <label style="color: black;">Mode of Adjustment</label>
                                                        <p style="margin-left:72px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.mode}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex">
                                                        <label style="color: black;">Status</label>
                                                        <p style="margin-left:158px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.status}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-8 d-flex">
                                                        <label style="color: black;">Account</label>
                                                        <p style="margin-left:148px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{a.account}}</p><br>
                                                    </div>
                                                </div>
                                                <div class="row ml-5" >
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10 d-flex">
                                                        <label style="color: black;">Created By</label>
                                                        <p style="margin-left:130px;" >:</p>
                                                        <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                        readonly>{{user.first_name}}</p>
                                                    </div>
                                                </div>

                                                {% if a.comment != "" %}
                                                    <div class="row ml-5" >
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-10 d-flex">
                                                            <label style="color: black;">Comment</label>
                                                            <p style="margin-left:140px;" >:</p>
                                                            <p style="color: black;font-size:15px;margin-left:80px;text-transform:Uppercase;" 
                                                            readonly>{{a.comment}}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <br><br>
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <table style="width:100%;margin-top:20px;table-layout:fixed; margin-left:5vh;" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                                            <thead style="background-color:#22b8d1">
                                                                <tr style="height:40px;">
                                                                    <td style="padding:5px 10px 5px 10px;word-wrap: break-word; text-align: center;" w class="table-head">
                                                                            Item Details
                                                                    </td>
                                                                    {% if a.mode == "Quantity" %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Quantity on hand
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Adjusted
                                                                        </td>
                                                                    {% else %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Value Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Stock in Value
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Adjusted Stock in Value
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            </thead>
                                    
                                                            <tbody id="items-table-body">
                                                                <tr class="row0" id="row1">
                                                                  <td  style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item1 }} </td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty1 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand1 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty1 }}</td>
                                                                </tr>
                                              
                                                                <!-------------------ROW 1---------------------------->
                                                                {% if a.item2 %}
                                                                <tr class="row1" id="row2">
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item2 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty2 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand2 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty2 }}</td>
                                                                </tr>
                                                                {% endif %}
                                                                 <!-------------------ROW 2---------------------------->
                                                                 {% if a.item3 %}
                                                                 <tr class="row2" id="row3">
                                                                 
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item3 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty3 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand3 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty3 }}</td>
                                                                </tr>
                                                                {% endif %}
                                                                 <!-------------------ROW 3---------------------------->
                                                                 {% if a.item4%}
                                                                 <tr class="row3" id="row4">
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item4 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty4 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand4 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty4 }}</td>
                                                                </tr>
                                              
                                                                {% endif %}
                                              
                                                                 <!-------------------ROW 4---------------------------->
                                                                 {% if a.item5 %}
                                                                 <tr class="row4" id="row5">
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ a.item5 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty5 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.qty_hand5 }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ a.new_qty5 }}</td>
                                                                </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br>
                                    </center>
                                </div>
                                <div class="row mr-3">
                                    <div class="col-md-4" style="margin: auto;">
                                        <a href="{% url 'gostock_adjust' %}" class="btn btn-outline-info rounded-pill w-100 text-light">
                                        BACK</a>
                                    </div>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newcomment">
        <div class="modal-dialog">
       
            <div class="modal-content" style="background-color: #213b52;">
                <form action="{% url 'create_comment' a.id %}" method="post" class="needs-validation"  validate>
                    {% csrf_token %}
                <div class="modal-header">
                    <h3 class="m-3">Add Comment</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                  
                    <div>
                        <div class="form-check">
                            <label class="form-check-label">Comment *</label> <br>
                            <input type="text" class="form-control" name="comment">
                           
                        </div>
    
        
                    </div>
               
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-info" >Save</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>  

{% endfor %}

<script>
    function exportToPDF(){
        var content = document.getElementById("GFG");
        html2pdf()
        .from(content)
        .save('Stock-Adjustment.pdf')
    }
</script>

<script>
    function overviewfun(){
        $(".overview").show()
        $(".statement").hide()
    }

    function statementfun(){
        $(".overview").hide()
        $(".statement").show()
    }
</script>

<script>
    function printSpecificArea() {
        var printContents = document.getElementById("GFG").innerHTML;
        var originalContents = document.body.innerHTML;
        
        document.body.innerHTML = printContents;
        window.print();
        
        document.body.innerHTML = originalContents;
    }
</script>

{% endblock %}